In [3]:
import pandas as pd

In [4]:
data=pd.read_excel('../data/sample.xlsx')

In [5]:
data.head()

,BaseItemPrice,Category,Discount,Price,Quantity,StoreID,_BATCH_ID_,_BATCH_LAST_RUN
0,7.99,Pizza,1.59,10.17,1,0,1,2025-01-14 15:29:08
1,11.99,Pizza,0.50,11.99,1,0,1,2025-01-14 15:29:08
2,13.99,Pizza,0.00,15.98,1,0,1,2025-01-14 15:29:08
3,14.99,Pizza,0.00,20.96,1,0,1,2025-01-14 15:29:08
4,9.99,Pizza,2.89,11.38,1,0,1,2025-01-14 15:29:08

In [6]:
data.shape

(20, 8)

In [7]:
stores=pd.read_csv('../data/store_details.csv')

In [8]:
stores.columns

Index(['*monday lobby', '*tuesday lobby', '*wednesday lobby',
       '*thursday lobby', '*friday lobby', '*saturday lobby', '*sunday lobby',
       'text_to_order_url', 'text_to_order_note', '*ordering_url', 'status',
       'pro_order_url', 'pro_order_note', '*ordering_platform', 'possystem',
       '*name', '*address_1', 'address_2', '*city', '*state', '*zip_code',
       'store_local_reference', '*store_phone', 'companymanaged', 'dma',
       'timezone', 'latitude', 'longitude', 'opendate'],
      dtype='object')

In [9]:
stores['store_local_reference']

0                  U.S. 31 & Liberty St
1              North of S. Airport Road
2                                   NaN
3                                   NaN
4                                   NaN
                     ...
444                                 NaN
445        NW of 80th Ave & West of 121
446      N Springboro Pike North of 725
447    W of Center St & N of Tyler Blvd
448      N Milwaukee Ave & Greenwood Rd
Name: store_local_reference, Length: 449, dtype: object

In [10]:
stores['*name'].nunique()

449

In [11]:
stores['*ordering_platform'].unique()

array(['SpeedDine', 'HungerRush', 'Loke', 'Thrive'], dtype=object)

In [12]:
stores[ 'possystem'].unique()

array(['SpeedLine', 'Revention', 'RapidFire', nan, 'Thrive'], dtype=object)

In [13]:
stores['*monday lobby'].unique()

array(['10:00:00-22:00:00', '11:00:00-22:00:00', '09:00:00-22:00:00',
       '10:30:00-22:00:00', '10:00:00-00:00:00', '10:00:00-23:00:00',
       '11:00:00-00:00:00', '09:00:00-23:00:00', '11:00:00-23:00:00',
       '10:00:00-22:30:00', '10:00:00-21:00:00', '11:00:00-02:00:00'],
      dtype=object)

In [14]:
stores['*city'].value_counts()

*city
Chicago             12
Austin               5
Grand Rapids         5
Sterling Heights     5
Lexington            5
                    ..
Walker               1
Schaumburg           1
Dayton               1
Powell               1
Glenview             1
Name: count, Length: 349, dtype: int64

In [15]:
stores['*zip_code'].nunique()

430

In [16]:
stores.columns

Index(['*monday lobby', '*tuesday lobby', '*wednesday lobby',
       '*thursday lobby', '*friday lobby', '*saturday lobby', '*sunday lobby',
       'text_to_order_url', 'text_to_order_note', '*ordering_url', 'status',
       'pro_order_url', 'pro_order_note', '*ordering_platform', 'possystem',
       '*name', '*address_1', 'address_2', '*city', '*state', '*zip_code',
       'store_local_reference', '*store_phone', 'companymanaged', 'dma',
       'timezone', 'latitude', 'longitude', 'opendate'],
      dtype='object')

In [17]:
stores['*state'].unique()

array(['MI', 'OH', 'FL', 'TX', 'NC', 'TN', 'MN', 'GA', 'KY', 'IL', 'IN',
       'WI', 'SC', 'VA', 'MO', 'CO', 'PA', 'AZ', 'NY', 'UT', 'NV', 'WA',
       'MT'], dtype=object)

In [18]:
florida=stores[stores['*state']=='FL']

In [30]:
d={'34698':32500,
'33765':49000,
'33334': 35000,
'34104':38000,
'33547':31500,
'3708':45500,
'33928':30000,
'34684':91500,
'33803':36000,
'33511':29500,
'34232':53500,
'32225':60000,
'32541':12400,
'33991':16200,
'33907':23000,
'34108':57000,
'32703':58500,
'33903':36000,
'34202':58000,
'33434':38000,
'33065':30500,
'33411':41500,
'33060':4200,
'33904':52500,
'34286':9500,
'33618':64000,
'33328':35500,
'34134':26500,
'33954':7800,
'34221':5000,
'33809':57500,
'32129':24000,
'34119':14300,
'32504':19100,
'33770':19400,
'34761':25000,
'32257':37000,
'32073':59500

}

In [31]:
florida[florida['*zip_code']==33708]

,*monday lobby,*tuesday lobby,*wednesday lobby,*thursday lobby,*friday lobby,*saturday lobby,*sunday lobby,text_to_order_url,text_to_order_note,*ordering_url,...,*zip_code,store_local_reference,*store_phone,companymanaged,dma,timezone,latitude,longitude,opendate,adree
145,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33708,NaN,7273972000,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.814148,-82.771908,6/24/2008,9649 Bay Pines Blvd. St. Petersburg 33708

In [33]:
florida[florida['*zip_code']==32541]

,*monday lobby,*tuesday lobby,*wednesday lobby,*thursday lobby,*friday lobby,*saturday lobby,*sunday lobby,text_to_order_url,text_to_order_note,*ordering_url,...,*zip_code,store_local_reference,*store_phone,companymanaged,dma,timezone,latitude,longitude,opendate,adree
221,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,32541,NaN,8506545387,False,Mobile-Pensacola,Central (UTC -6 / -5),30.390034,-86.428255,3/2/2012,4418 Commons Dr E Destin 32541

In [29]:
florida['*zip_code'].value_counts()
florida['*zip_code'].nunique()
florida[['*name', '*address_1', 'address_2', '*city', '*state', '*zip_code']]
florida['adree']=florida['*address_1']+' '+florida['*city']+' '+florida['*zip_code'].astype(str)
florida

/var/folders/lg/b8pw7x296y397cn0g302yt680000gp/T/ipykernel_82281/3049930155.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida['adree']=florida['*address_1']+' '+florida['*city']+' '+florida['*zip_code'].astype(str)

,*monday lobby,*tuesday lobby,*wednesday lobby,*thursday lobby,*friday lobby,*saturday lobby,*sunday lobby,text_to_order_url,text_to_order_note,*ordering_url,...,*zip_code,store_local_reference,*store_phone,companymanaged,dma,timezone,latitude,longitude,opendate,adree
77,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,10:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,34698,NaN,7272101840,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),28.019467,-82.769442,12/20/2005,1350 Main Street Dunedin 34698
78,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-00:00:00,10:00:00-00:00:00,10:00:00-23:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33765,NaN,7274414464,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.960481,-82.752473,11/3/2004,2045 Gulf to Bay Blvd. Clearwater 33765
117,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-00:00:00,11:00:00-00:00:00,11:00:00-23:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33334,Just east of Dixie Highway on Oakland Park Blvd,9545655387,False,Miami-Ft. Lauderdale,Eastern (UTC -5 / -4),26.166780,-80.129470,6/17/2002,1300 E. Oakland Park Blvd Oakland Park 33334
137,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,34104,SW corner of Radio Rd & Santa Barbara Blvd,2394345389,True,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.153620,-81.719857,1/24/2009,4009 Santa Barbara Blvd Naples 34104
141,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33547,Corner of Boyette and Bell Shoals,8136545388,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.853051,-82.267708,3/12/2008,13429 Fishhawk Boulevard Lithia 33547
145,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33708,NaN,7273972000,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.814148,-82.771908,6/24/2008,9649 Bay Pines Blvd. St. Petersburg 33708
147,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33928,Three Oaks Pkwy & Corkscrew Rd,2394955387,True,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.429319,-81.787636,9/19/2008,10011 Estero Town Commons Pl Estero 33928
148,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,10:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,34684,NaN,7277720313,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),28.076086,-82.739178,7/31/2006,33486 US Highway 19N Palm Harbor 34684
150,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,10:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33803,NaN,8637090999,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),28.005025,-81.956558,11/21/2008,3234 S Florida Ave Lakeland 33803
191,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-00:00:00,10:00:00-00:00:00,11:00:00-23:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33511,Next to Dunkin‚Äô Donuts,8136555388,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.923373,-82.298858,1/18/2011,946 W Lumsden Rd Brandon 33511
208,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://orderjets.hungerrush.com/order/menu/76,...,34232,NaN,9413124225,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.337781,-82.468322,10/26/2007,5045 Fruitville Road Sarasota 34232
209,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,32225,NaN,9042217700,False,Jacksonville,Eastern (UTC -5 / -4),30.322261,-81.452574,11/5/2011,13475 Atlantic Blvd Jacksonville 32225
221,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,32541,NaN,8506545387,False,Mobile-Pensacola,Central (UTC -6 / -5),30.390034,-86.428255,3/2/2012,4418 Commons Dr E Destin 32541
224,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33991,Santa Barbara center at Hancock and Santa Barbara,2394581940,False,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.648811,-81.977108,6/11/2012,80 Hancock Bridge Pkwy W Cape Coral 33991
236,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33907,Reflections Pkwy and Cypress Lake Dr,2392457019,False,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.545450,-81.882121,10/15/2012,13550 Reflections Pkwy Fort Myers 33907
237,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,34108,On Tamiami Trail between 98th Ave & 99th Ave,2395924369,True,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.261101,-81.801908,12/3/2012,9853 Tamiami Trl N North Naples 34108
286,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,10:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,32703,Corner of S Hunt Club & 436 (near Publix),3212032675,False,OrlandoDaytonaBeachMelborne2,Eastern (UTC -5 / -4),28.671382,-81.449589,6/9/2014,558 S Hunt Club Blvd Apopka 32703
289,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33903,Shoppes at Del Prado US 41 and Del Prado Blvd,2397315500,False,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.724086,-81.904224,1/18/2014,17940 N. Tamiami Trl North Fort Myers 33903
290,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://orderjets.hungerrush.com/order/menu/99,...,34202,NaN,9417395387,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.439030,-82.450041,12/16/2013,8721 State Rd 70 East Bradenton 34202
314,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33434,Corner of Glades & Lyons (Somerset Shoppes Plaza),5618525700,False,West Palm Beach-Ft. Pierce,Eastern (UTC -5 / -4),26.368744,-80.184102,3/21/2015,8903 Glades Rd Boca Raton 33434
316,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33065,NaN,9543409999,False,Miami-Ft. Lauderdale,Eastern (UTC -5 / -4),26.272563,-80.257528,6/22/2015,9835 W Sample Rd Coral Springs 33065
320,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33411,Corner of Royal Palm Beach Blvd & Okeechobee Blvd,5615135387,False,West Palm Beach-Ft. Pierce,Eastern (UTC -5 / -4),26.708356,-80.229027,10/8/2015,1204 Royal Palm Beach Blvd Royal Palm Beach 33411
321,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-00:00:00,11:00:00-00:00:00,11:00:00-23:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33060,1/2 mile east of Dixie Highway on Atlantic Blvd,9547825387,False,Miami-Ft. Lauderdale,Eastern (UTC -5 / -4),26.232104,-80.119013,7/20/2015,437 E Atlantic Blvd Pompano Beach 33060
323,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33904,Cape Coral Parkway Just West of Coronado Pkwy,2392573270,False,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.563078,-81.959793,4/2/2015,643 Cape Coral Pkwy E Cape Coral 33904
328,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://orderjets.hungerrush.com/order/menu/100,...,34286,Sumter Blvd and Price Blvd Behind Walgreens,9414295387,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.072668,-82.209173,8/17/2015,1159 N Sumter Blvd North Port 34286
335,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,10:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33618,NaN,8133970000,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),28.077975,-82.506971,5/16/2016,14624 N. Dale Mabry Hwy Tampa 33618
342,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-00:00:00,11:00:00-00:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33328,NaN,9548585387,False,Miami-Ft. Lauderdale,Eastern (UTC -5 / -4),26.063388,-80.252300,11/25/2016,4637 S University Dr Davie 33328
344,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,34134,NW corner of Tamiami Trl & Bonita Beach Rd,2393014800,True,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.332105,-81.808764,1/13/2017,3300 Bonita Beach Road Bonita Springs 34134
351,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33954,Peachland and Veterans In the Peachland Promenade,9416134040,False,Ft. Myers-Naples,Eastern (UTC -5 / -4),27.015969,-82.056922,1/28/2017,24001 Peachland Blvd Port Charlotte 33954
372,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://orderjets.hungerrush.com/Order/Menu/13...,...,34221,NaN,9417295387,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.599920,-82.498600,1/27/2020,9556 Buffalo Rd Palmetto 34221
386,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,10:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33809,NaN,8633330322,False,Tampa-St. Petersburg (Sarasota),Central (UTC -6 / -5),28.105520,-81.972580,5/13/2021,4973 US 98 North Lakeland 33809
387,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://orderjets.hungerrush.com/Order/Menu/136,...,32129,Clyde Morris and Madeline,3864882939,False,OrlandoDaytonaBeachMelborne2,Eastern (UTC -5 / -4),29.141870,-81.033410,9/24/2023,3813 S. Clyde Morris Blvd Port Orange 32129
395,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,34119,Vanderbilt Beach Rd & Collier Blvd,2397995387,True,Ft. Myers-Naples,Eastern (UTC -5 / -4),26.244720,-81.695060,5/11/2022,7211 Vanderbilt Beach Road Naples 34119
414,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,32504,NaN,8508980050,False,Mobile-Pensacola,Central (UTC -6 / -5),30.496109,-87.194538,1/4/2024,2620 Creighton Road Pensacola 32504
419,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,10:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,33770,NaN,7276148008,False,Tampa-St. Petersburg (Sarasota),Eastern (UTC -5 / -4),27.916530,-82.798830,4/12/2023,1001 W Bay Drive Largo 33770
423,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-22:00:00,10:00:00-23:00:00,10:00:00-23:00:00,10:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,34761,NaN,4077537922,False,OrlandoDaytonaBeachMelborne2,Eastern (UTC -5 / -4),28.554300,-81.521040,3/22/2024,1104 South Clarke Road Ocoee 34761
429,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,12:00:00-23:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,32257,NaN,9048708704,False,Jacksonville,Eastern (UTC -5 / -4),30.172488,-81.606167,4/12/2024,11250 Old St Augustine Rd Jacksonville 32257
433,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-22:00:00,11:00:00-23:00:00,11:00:00-23:00:00,11:00:00-22:00:00,https://www.jetspizza.com/textorder/?jets_id=F...,Text your order to get 15% off menu-priced pizza,https://ordering.jetspizza.com/?uniqueStoreIde...,...,32073,Blanding Blvd just North of Blairmore Blvd,9048708709,False,Jacksonville,Eastern (UTC -5 / -4),30.172704,-81.746799,5/16/2024,280 Blanding Blvd Orange Park 32073

In [52]:
florida['dma'].nunique()

7

In [53]:
florida['*ordering_url'][77]

florida["StoreID"] = florida['*ordering_url'].str.split("=").str[1]

/var/folders/lg/b8pw7x296y397cn0g302yt680000gp/T/ipykernel_31127/889603677.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida["StoreID"] = florida['*ordering_url'].str.split("=").str[1]

In [62]:
florida["StoreID"].unique()
florida["StoreID"] = florida["StoreID"].str.replace('#/', '', regex=False)
florida["StoreID"] = florida["StoreID"].str.replace('#', '', regex=False)

/var/folders/lg/b8pw7x296y397cn0g302yt680000gp/T/ipykernel_31127/3572044022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida["StoreID"] = florida["StoreID"].str.replace('#/', '', regex=False)
/var/folders/lg/b8pw7x296y397cn0g302yt680000gp/T/ipykernel_31127/3572044022.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida["StoreID"] = florida["StoreID"].str.replace('#', '', regex=False)

In [66]:
florida.to_csv('florida_store_details.csv',index=False)

In [63]:
d = dict(zip(florida["StoreID"], florida["*zip_code"])) 
d

{'FL10': 34698,
 'FL09': 33765,
 'FL05': 33334,
 'FL013': 34104,
 'FL014': 33547,
 'FL15': 33708,
 'FL016': 33928,
 'FL008': 34684,
 'FL17': 33803,
 'FL018': 33511,
 nan: 32129,
 '12766': 32225,
 '12866': 32541,
 '13072': 33991,
 '16': 33907,
 'FL023': 34108,
 'FL024': 32703,
 'FL-025': 33903,
 'FL029': 33434,
 'FL030': 33065,
 'FL032': 33411,
 'FL33': 33060,
 'FL31': 33904,
 'FL035': 33618,
 'FL037': 33328,
 'FL038': 34134,
 'FL-039': 33954,
 'FL041': 33809,
 'FL043': 34119,
 'FL044': 32504,
 'FL045': 33770,
 'FL046': 34761,
 'FL047.': 32257,
 'FL048': 32073}

In [64]:
zip_codes=florida['*zip_code'].nunique()
zip_codes

38

In [65]:
florida.

SyntaxError: invalid syntax (2203017170.py, line 1)

# processing population

In [67]:
# age=pd.read_csv('/Users/nooreen/Desktop/High margin/PZ/data/external_data/ACSDP5Y2023.DP05_2025-01-22T052323/ACSDP5Y2023.DP05-Data.csv')
population=pd.read_csv('/Users/nooreen/Desktop/High margin/PZ/data/external_data/DECENNIALDHC2020.P1_2025-01-22T052118/DECENNIALDHC2020.P1-Data.csv')
population=population[1:]


population.head()

           GEO_ID         NAME P1_001N  Unnamed: 3
1  860Z200US00601  ZCTA5 00601   17242         NaN
2  860Z200US00602  ZCTA5 00602   37548         NaN
3  860Z200US00603  ZCTA5 00603   49804         NaN
4  860Z200US00606  ZCTA5 00606    5009         NaN
5  860Z200US00610  ZCTA5 00610   25731         NaN

In [74]:
population['zip_code']=population['NAME'].str.split(' ').str[-1]
population['zip_code']=population['zip_code'].astype(int)
population

               GEO_ID         NAME P1_001N  Unnamed: 3  zip_code
1      860Z200US00601  ZCTA5 00601   17242         NaN       601
2      860Z200US00602  ZCTA5 00602   37548         NaN       602
3      860Z200US00603  ZCTA5 00603   49804         NaN       603
4      860Z200US00606  ZCTA5 00606    5009         NaN       606
5      860Z200US00610  ZCTA5 00610   25731         NaN       610
...               ...          ...     ...         ...       ...
33770  860Z200US99923  ZCTA5 99923      66         NaN     99923
33771  860Z200US99925  ZCTA5 99925     784         NaN     99925
33772  860Z200US99926  ZCTA5 99926    1562         NaN     99926
33773  860Z200US99927  ZCTA5 99927      49         NaN     99927
33774  860Z200US99929  ZCTA5 99929    2079         NaN     99929

[33774 rows x 5 columns]

In [93]:
population[population['zip_code']==34787]

               GEO_ID         NAME P1_001N  Unnamed: 3  zip_code
11464  860Z200US34787  ZCTA5 34787   88636         NaN     34787

In [75]:


population[population['zip_code']==34698]

               GEO_ID         NAME P1_001N  Unnamed: 3  zip_code
11434  860Z200US34698  ZCTA5 34698   38010         NaN     34698

In [80]:
population1=population[population['zip_code'].isin(zip_codes)]

print(population1.zip_code.nunique())

38

In [82]:

population1.head()

               GEO_ID         NAME P1_001N  Unnamed: 3  zip_code
10507  860Z200US32073  ZCTA5 32073   43527         NaN     32073
10533  860Z200US32129  ZCTA5 32129   21594         NaN     32129
10588  860Z200US32225  ZCTA5 32225   57441         NaN     32225
10599  860Z200US32257  ZCTA5 32257   41439         NaN     32257
10693  860Z200US32504  ZCTA5 32504   21791         NaN     32504

In [84]:
population_processed=population1[['zip_code','P1_001N']]
population_processed.head()

       zip_code P1_001N
10507     32073   43527
10533     32129   21594
10588     32225   57441
10599     32257   41439
10693     32504   21791

In [91]:
zip_codes

array([34698, 33765, 33334, 34104, 33547, 33708, 33928, 34684, 33803,
       33511, 34232, 32225, 32541, 33991, 33907, 34108, 32703, 33903,
       34202, 33434, 33065, 33411, 33060, 33904, 34286, 33618, 33328,
       34134, 33954, 34221, 33809, 32129, 34119, 32504, 33770, 34761,
       32257, 32073])

In [90]:
population_processed[population_processed['zip_code']==34787]

Empty DataFrame
Columns: [zip_code, P1_001N]
Index: []

# processing income

In [133]:
income=pd.read_csv('/Users/nooreen/Desktop/High margin/PZ/data/external_data/Income-Data.csv')
income.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to $24,999",...,Margin of Error!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Margin of Error!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,NaN
1,860Z200US32003,ZCTA5 32003,11297,686,1.6,1.3,0.7,0.6,1.7,1.0,...,4006,115120,35586,(X),(X),(X),(X),29.9,(X),NaN
2,860Z200US32008,ZCTA5 32008,2442,365,7.6,4.1,3.1,2.2,13.5,6.0,...,15198,47907,16908,(X),(X),(X),(X),65.3,(X),NaN
3,860Z200US32009,ZCTA5 32009,1405,235,12.9,10.9,1.6,1.6,4.8,4.2,...,8364,33431,10096,(X),(X),(X),(X),47.7,(X),NaN
4,860Z200US32011,ZCTA5 32011,5915,387,3.4,2.1,3.5,1.7,7.2,3.6,...,9635,59000,15359,(X),(X),(X),(X),40.3,(X),NaN

In [135]:
income1=income[1:][['NAME',	'S1901_C01_001E'	]]
income1

             NAME S1901_C01_001E
1     ZCTA5 32003          11297
2     ZCTA5 32008           2442
3     ZCTA5 32009           1405
4     ZCTA5 32011           5915
5     ZCTA5 32013             12
...           ...            ...
1009  ZCTA5 34987           7822
1010  ZCTA5 34990          11970
1011  ZCTA5 34994           8264
1012  ZCTA5 34996           5720
1013  ZCTA5 34997          19185

[1013 rows x 2 columns]

In [141]:
income1['zip_code']=income1['NAME'].str.split(' ').str[-1]
income1['zip_code']=income1['zip_code'].astype(int)
income1.rename(columns={'S1901_C01_001E':"household_total_income"},inplace=True)
income1.head(2)

          NAME household_total_income  zip_code
1  ZCTA5 32003                  11297     32003
2  ZCTA5 32008                   2442     32008

In [143]:
income2=income1[income1['zip_code'].isin(zip_codes)]

print(income2.zip_code.nunique())

38

In [146]:
income_preprocessed=income2[['household_total_income',	'zip_code']]
income_preprocessed.head()

    household_total_income  zip_code
32                   16462     32073
58                   10538     32129
113                  21729     32225
124                  17391     32257
218                   9763     32504

# processing traffic

In [150]:
traffic_count=pd.read_excel('/Users/nooreen/Desktop/High margin/PZ/data/external_data/traffic_count.xlsx')
traffic_count.columns

Index(['*monday lobby', '*tuesday lobby', '*wednesday lobby',
       '*thursday lobby', '*friday lobby', '*saturday lobby', '*sunday lobby',
       'text_to_order_url', 'text_to_order_note', '*ordering_url', 'status',
       'pro_order_url', 'pro_order_note', '*ordering_platform', 'possystem',
       '*name', '*address_1', 'address_2', '*city', 'county', '*state',
       '*zip_code', 'store_local_reference', '*store_phone', 'companymanaged',
       'dma', 'timezone', 'latitude', 'longitude', 'opendate', 'AADT',
       'classification'],
      dtype='object')

In [155]:
traffic_count=traffic_count[['*zip_code','classification','AADT']]

traffic_count1=traffic_count[traffic_count['*zip_code'].isin(zip_codes)]
traffic_count1.rename(columns={'*zip_code':'zip_code'},inplace=True)

/var/folders/lg/b8pw7x296y397cn0g302yt680000gp/T/ipykernel_53559/1128824723.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  traffic_count1.rename(columns={'*zip_code':'zip_code'},inplace=True)

In [156]:
traffic_count1.head(2)

    zip_code classification     AADT
77     34698          urban  32500.0
78     33765          urban  49000.0

In [157]:
processed_traffic=traffic_count1.copy()

# merging datasets

In [ ]:
# florida
# processed_traffic
# population_processed
# income_preprocessed

In [166]:
florida['*name'].unique()

array(['FL-010', 'FL-009', 'FL-005', 'FL-013', 'FL-014', 'FL-015',
       'FL-016', 'FL-008', 'FL-017', 'FL-018', 'FL-012', 'FL-019',
       'FL-020', 'FL-021', 'FL-022', 'FL-023', 'FL-024', 'FL-025',
       'FL-026', 'FL-029', 'FL-030', 'FL-032', 'FL-033', 'FL-031',
       'FL-034', 'FL-035', 'FL-037', 'FL-038', 'FL-039', 'FL-040',
       'FL-041', 'FL-042', 'FL-043', 'FL-044', 'FL-045', 'FL-046',
       'FL-047', 'FL-048'], dtype=object)

In [161]:
merged_df = pd.merge(
    pd.merge(processed_traffic, population_processed, on='zip_code'),
    income_preprocessed,
    on='zip_code'
)
merged_df.rename(columns={'AADT':'traffic_count','P1_001N':'population','classification':'area_classification'},inplace=True)

In [177]:
merged_df.to_csv('../data/input_data.csv')

# Feature importance

In [163]:
merged_df

,zip_code,area_classification,traffic_count,population,household_total_income
0,34698,urban,32500.0,38010,18161
1,33765,urban,49000.0,13844,6126
2,33334,urban,35000.0,30138,12905
3,34104,suburban,38500.0,25485,11521
4,33547,suburban,31500.0,30935,9571
5,33708,suburban,45500.0,16034,8052
6,33928,suburban,30000.0,28955,14289
7,34684,suburban,91500.0,27078,12686
8,33803,urban,36000.0,29082,12588
9,33511,suburban,29500.0,56627,22685
10,34232,urban,53500.0,34671,15335
11,32225,suburban,60000.0,57441,21729
12,32541,urban,60000.0,18419,8366
13,33991,urban,16200.0,26381,9862
14,33907,suburban,23000.0,24980,11132
15,34108,suburban,57000.0,16142,8461
16,32703,suburban,58500.0,54805,20496
17,33903,suburban,36000.0,23294,11671
18,34202,suburban,58000.0,26797,10795
19,33434,suburban,48000.0,21003,10686
20,33065,suburban,30500.0,59668,20140
21,33411,suburban,41500.0,74206,28173
22,33060,urban,40500.0,35793,13727
23,33904,urban,52500.0,32029,14782
24,34286,suburban,20100.0,22000,8230
25,33618,suburban,64400.0,26474,11737
26,33328,suburban,50500.0,28997,10141
27,34134,urban,26500.0,15906,8673
28,33954,suburban,11900.0,11040,4735
29,34221,rural,5000.0,48082,20419
30,33809,suburban,57500.0,30629,11633
31,32129,urban,24000.0,21594,10538
32,34119,suburban,NaN,34933,14640
33,32504,suburban,19100.0,21791,9763
34,33770,urban,19400.0,25475,11190
35,34761,suburban,25000.0,48193,14153
36,32257,suburban,37000.0,41439,17391
37,32073,suburban,59500.0,43527,16462

# clustering