In [1]:
import pandas as pd

In [9]:
data=pd.read_excel('../data/sample.xlsx')

In [10]:
data.head()

,BaseItemPrice,Category,Discount,Price,Quantity,StoreID,_BATCH_ID_,_BATCH_LAST_RUN
0,7.99,Pizza,1.59,10.17,1,0,1,2025-01-14 15:29:08
1,11.99,Pizza,0.50,11.99,1,0,1,2025-01-14 15:29:08
2,13.99,Pizza,0.00,15.98,1,0,1,2025-01-14 15:29:08
3,14.99,Pizza,0.00,20.96,1,0,1,2025-01-14 15:29:08
4,9.99,Pizza,2.89,11.38,1,0,1,2025-01-14 15:29:08

In [11]:
data.shape

(20, 8)