In [2]:
import pandas as pd
import numpy as np

# show all columns:
pd.set_option('display.max_columns', None)

In [3]:
loyalty_df_raw = pd.read_csv("receipt_item-2025010915-fe8603095238452290775091f1eabc2f.csv", skiprows=1) 
loyalty_df_raw.head(2)

FileNotFoundError: [Errno 2] No such file or directory: 'receipt_item-2025010915-fe8603095238452290775091f1eabc2f.csv'

In [3]:
transctional_df_raw=pd.read_csv('2023 to 2024 Corp by stores ticket level.csv')
transctional_df_raw.columns

/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/2935002087.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  transctional_df=pd.read_csv('2023 to 2024 Corp by stores ticket level.csv')

Index(['StoreId', 'Date', 'CheckTime', 'UniqueCheckId', 'PLU', 'MenuItemId',
       'MenuItemName', 'ItemCount', 'Amount', 'Tax', 'LineType',
       'LineTypeDescription', 'CategoryName', 'ReductionId', 'ReductionName',
       'order_channel', 'Order_type', 'discount_amt', 'DiscountName'],
      dtype='object')

# handling dtypes

In [53]:
loyalty_df = loyalty_df_raw.copy()

In [54]:
datetime_col=['Receipt DateTime']
float_col = ['Menu Item ID','Quantity','Rate','Transaction Number',
'Bar Code','Guest ID','Location ID','Checkin ID','Revenue ID',
'Store Number']

loyalty_df[datetime_col] = loyalty_df[datetime_col].apply(pd.to_datetime, errors='coerce')
loyalty_df[float_col] =loyalty_df[float_col] .apply(pd.to_numeric, errors='coerce')
loyalty_df

/opt/homebrew/anaconda3/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname MST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

,Transaction Number,Bar Code,Guest ID,Location ID,Checkin ID,Receipt DateTime,Revenue ID,Revenue Code,Location Name,Store Number,Menu Item ID,Menu Item Name,Amount,Menu Item Type,Menu Item Family,Menu Item Group,Quantity,Rate
0,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,49762.0,Meat & Potato Breakfast Burrito - Sausage,3.79,M,647,647,2.0,3.79
1,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,49762.0,Meat & Potato Breakfast Burrito - Sausage,3.79,M,647,647,1.0,3.79
2,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,51844.0,More Ingredients,0.00,M,720,720,1.0,0.00
3,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,52046.0,Add Jalapenos,0.00,M,655,655,1.0,0.00
4,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,50254.0,Junior Breakfast Burrito - Sausage,1.69,M,647,647,4.0,1.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928974,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,51844.0,More Ingredients,0.00,M,720,720,1.0,0.00
928975,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,52046.0,Add Jalapenos,0.00,M,655,655,1.0,0.00
928976,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,49758.0,Add Diced Onions,0.00,M,655,655,1.0,0.00
928977,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,85148.0,Sales Tax,0.41,T,1,1,1.0,0.41
928978,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,776.0,Credit Card,7.19,P,1,1,1.0,7.19

In [29]:
transctional_df = transctional_df_raw.copy()

In [30]:
transctional_df_raw.head(2)

,StoreId,Date,CheckTime,UniqueCheckId,PLU,MenuItemId,MenuItemName,ItemCount,Amount,Tax,LineType,LineTypeDescription,CategoryName,ReductionId,ReductionName,order_channel,Order_type,discount_amt,DiscountName
0,1051.0,2024-01-03,19:04:00.0000000,324010510,49864,1212.0,No Thanks,1.0,0.00,0.00,1.0,Sale,Misc,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN
1,1051.0,2024-01-03,19:04:00.0000000,324010510,49022,213.0,Large Potato Oles,1.0,1.09,0.09,1.0,Sale,Potato Olés,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN

In [31]:
# change to datetime (BE CAREFUL, checktime DATE WILL BE MISTAKEN)
transctional_df['Date'] = pd.to_datetime(transctional_df['Date'], errors='coerce')
transctional_df['fake_date_true_time'] = pd.to_datetime(transctional_df['CheckTime'], errors='coerce')

# REMOVE DATE
transctional_df['CheckTime'] = transctional_df['fake_date_true_time'].dt.time
transctional_df.head(2)

,StoreId,Date,CheckTime,UniqueCheckId,PLU,MenuItemId,MenuItemName,ItemCount,Amount,Tax,LineType,LineTypeDescription,CategoryName,ReductionId,ReductionName,order_channel,Order_type,discount_amt,DiscountName,fake_date_true_time
0,1051.0,2024-01-03,19:04:00,324010510,49864,1212.0,No Thanks,1.0,0.00,0.00,1.0,Sale,Misc,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2025-02-06 19:04:00
1,1051.0,2024-01-03,19:04:00,324010510,49022,213.0,Large Potato Oles,1.0,1.09,0.09,1.0,Sale,Potato Olés,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2025-02-06 19:04:00

In [32]:
float_col=['StoreId','UniqueCheckId','MenuItemId',]
transctional_df[float_col] =transctional_df[float_col].apply(pd.to_numeric, errors='coerce')

#TODO: identify the float col values that we are coercing!!! @nooreen

# feature enginnering

In [55]:
loyalty_df['date']=loyalty_df['Receipt DateTime'].dt.date
# loyalty_df['time']=loyalty_df['Receipt DateTime'].dt.time

loyalty_df=loyalty_df[loyalty_df['Location Name']!='(CLOSED) Windsor (Royal Vista Cir)']

loyalty_df['StoreId'] = loyalty_df['Location Name'].str[-4:]
loyalty_df['StoreId']=loyalty_df['StoreId'].astype(int)

# MINESOTA STORES ARE IN ANOTHER TIMEZONE in LOYALTY --> ADD 1 HOUR TO THOSE STORES IN LOYALTY DF but not in transactional @nooreen
loyalty_df['time'] = np.where(loyalty_df['StoreId'].isin([1051,1052]),loyalty_df['Receipt DateTime'] + pd.Timedelta(hours=1),loyalty_df['Receipt DateTime'])
loyalty_df['time']=pd.to_datetime(loyalty_df['time'])
loyalty_df['hour']=loyalty_df['time'].dt.hour
loyalty_df['time'] = loyalty_df['time'].dt.time
loyalty_df['month']=loyalty_df['Receipt DateTime'].dt.month
loyalty_df['year']=loyalty_df['Receipt DateTime'].dt.year


loyalty_df=loyalty_df[loyalty_df['Menu Item Type']=='M']
store_ids=loyalty_df['StoreId'].unique()
print(loyalty_df['StoreId'].unique())


# FILTER STORES WHICH ARE IN TRANSACTIONAL DATA:
loyalty_df=loyalty_df[loyalty_df['StoreId'].isin([1001, 1003, 1005, 1006, 1008, 1051,1052])]
print(loyalty_df['StoreId'].unique())

/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/1300975290.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_df['StoreId'] = loyalty_df['Location Name'].str[-4:]
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/1300975290.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_df['StoreId']=loyalty_df['StoreId'].astype(int)
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/1300975290.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_df['time'] = np.where(loyalty_df['StoreId'].isin([1051,1052]),loyalty_df['Receipt DateTime'] + pd.Timedelta(hours=1),loyalty_df['Receipt DateTime'])
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/1300975290.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_df['time']=pd.to_datetime(loyalty_df['time'])
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/1300975290.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_df['hour']=loyalty_df['time'].dt.hour
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/1300975290.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_df['time'] = loyalty_df['time'].dt.time
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/1300975290.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_df['month']=loyalty_df['Receipt DateTime'].dt.month
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/1300975290.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_df['year']=loyalty_df['Receipt DateTime'].dt.year

[1008 1031 1006 1003 1052 1005 2609 1001 2620 1036 1051 2616]
[1008 1006 1003 1052 1005 1001 1051]

In [25]:

# transctional_df['date']=transctional_df['Date'].dt.date
# # TODO: CHANGE NAME

# transctional_df['hour']=transctional_df['date'].dt.hour
# transctional_df['month']=transctional_df['date'].dt.month
# transctional_df['year']=transctional_df['date'].dt.year
# transctional_df['time'] = transctional_df['CheckTime']

In [26]:
transctional_df.head(2)

,StoreId,Date,CheckTime,UniqueCheckId,PLU,MenuItemId,MenuItemName,ItemCount,Amount,Tax,LineType,LineTypeDescription,CategoryName,ReductionId,ReductionName,order_channel,Order_type,discount_amt,DiscountName,date,hour,month,year
0,1051.0,2024-01-03,19:04:00,324010510,49864,1212.0,No Thanks,1.0,0.00,0.00,1.0,Sale,Misc,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2024-01-03,0.0,1.0,2024.0
1,1051.0,2024-01-03,19:04:00,324010510,49022,213.0,Large Potato Oles,1.0,1.09,0.09,1.0,Sale,Potato Olés,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2024-01-03,0.0,1.0,2024.0

In [27]:
transctional_df.dtypes

StoreId                       float64
Date                   datetime64[ns]
CheckTime                      object
UniqueCheckId                   int64
PLU                            object
MenuItemId                    float64
MenuItemName                   object
ItemCount                     float64
Amount                        float64
Tax                           float64
LineType                      float64
LineTypeDescription            object
CategoryName                   object
ReductionId                   float64
ReductionName                  object
order_channel                  object
Order_type                     object
discount_amt                  float64
DiscountName                   object
date                           object
hour                          float64
month                         float64
year                          float64
dtype: object

In [ ]:
# convert datetime to numbers:
transctional_df['hour'] = transctional_df['fake_date_true_time'].dt.hour.astype(int) 
transctional_df['min'] = transctional_df['fake_date_true_time'].dt.minute.astype(int)

print(transctional_df.shape)
# remove rows with month or year = NaN:
transctional_df = transctional_df.dropna(subset=['Date'])
print(transctional_df.shape)

(8448883, 23)
(8220888, 23)

In [44]:
transctional_df['month']= transctional_df['Date'].dt.month.astype(int)
transctional_df['dayofmonth']= transctional_df['Date'].dt.day.astype(int)
transctional_df['year']=transctional_df['Date'].dt.year.astype(int)

/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/4270939263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transctional_df['month']= transctional_df['Date'].dt.month.astype(int)
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/4270939263.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transctional_df['dayofmonth']= transctional_df['Date'].dt.day.astype(int)
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/4270939263.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transctional_df['year']=transctional_df['Date'].dt.year.astype(int)

In [49]:
transctional_df['StoreId']=transctional_df['StoreId'].astype(int)
transctional_df['key']= transctional_df['StoreId'].astype(str) + transctional_df['year'].astype(str) + transctional_df['month'].astype(str) + transctional_df['dayofmonth'].astype(str) + transctional_df['hour'].astype(str) + transctional_df['min'].astype(str)
transctional_df

/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/3984955821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transctional_df['StoreId']=transctional_df['StoreId'].astype(int)
/var/folders/yf/k5g244492lx2rkzqs8g7m6yh0000gn/T/ipykernel_29544/3984955821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transctional_df['key']= transctional_df['StoreId'].astype(str) + transctional_df['year'].astype(str) + transctional_df['month'].astype(str) + transctional_df['dayofmonth'].astype(str) + transctional_df['hour'].astype(str) + transctional_df['min'].astype(str)

,StoreId,Date,CheckTime,UniqueCheckId,PLU,MenuItemId,MenuItemName,ItemCount,Amount,Tax,LineType,LineTypeDescription,CategoryName,ReductionId,ReductionName,order_channel,Order_type,discount_amt,DiscountName,fake_date_true_time,key_date,hour,min,month,dayofmonth,year,key
0,1051,2024-01-03,19:04:00,324010510,49864,1212.0,No Thanks,1.0,0.00,0.00,1.0,Sale,Misc,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2025-02-06 19:04:00,202413194,19,4,1,3,2024,1051202413194
1,1051,2024-01-03,19:04:00,324010510,49022,213.0,Large Potato Oles,1.0,1.09,0.09,1.0,Sale,Potato Olés,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2025-02-06 19:04:00,202413194,19,4,1,3,2024,1051202413194
2,1051,2024-01-03,19:04:00,324010510,62240,913.0,Nacho Crunch Chicken Burrito,1.0,3.00,0.25,1.0,Sale,Burritos,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2025-02-06 19:04:00,202413194,19,4,1,3,2024,1051202413194
3,1051,2024-01-03,19:04:00,324010510,64505,403.0,4 Cheese Chicken Quesadilla,1.0,4.69,0.38,1.0,Sale,Quesadillas,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2025-02-06 19:04:00,202413194,19,4,1,3,2024,1051202413194
4,1051,2024-01-03,19:04:00,324010510,50996,1178.0,Street Taco - Ck Trio Combo - Qu,1.0,9.59,0.78,1.0,Sale,Street Tacos,0.0,NaN,Dine In - Kiosk\r,Kiosk,NaN,NaN,2025-02-06 19:04:00,202413194,19,4,1,3,2024,1051202413194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8448878,1052,2024-12-31,17:15:00,3662401052231510926,49100,425.0,Side - Guacamole,1.0,1.39,0.12,1.0,Sale,Side Orders,0.0,NaN,Third Party Delivery - OLO\r,Online,NaN,NaN,2025-02-06 17:15:00,202412311715,17,15,12,31,2024,1052202412311715
8448879,1052,2024-12-31,17:15:00,3662401052231510926,64506,404.0,4 Cheese Steak Quesadilla,2.0,11.58,1.04,1.0,Sale,Quesadillas,0.0,NaN,Third Party Delivery - OLO\r,Online,NaN,NaN,2025-02-06 17:15:00,202412311715,17,15,12,31,2024,1052202412311715
8448880,1052,2024-12-31,17:19:00,3662401052231917348,ServiceCharge-51762,1742.0,Service Charge,1.0,3.52,0.00,1.0,Sale,Other,0.0,NaN,Third Party Delivery - Grubhub\r,Delivery,NaN,NaN,2025-02-06 17:19:00,202412311719,17,19,12,31,2024,1052202412311719
8448881,1052,2024-12-31,17:19:00,3662401052231917348,51842,269.0,2 Medium Potato Oles,1.0,0.00,0.00,1.0,Sale,Six Packs,0.0,NaN,Third Party Delivery - Grubhub\r,Delivery,NaN,NaN,2025-02-06 17:19:00,202412311719,17,19,12,31,2024,1052202412311719
8448882,1052,2024-12-31,17:19:00,3662401052231917348,49810,1142.0,6 Pack - Crispy Tacos - Qu,1.0,15.99,0.00,1.0,Sale,Six Packs,0.0,NaN,Third Party Delivery - Grubhub\r,Delivery,NaN,NaN,2025-02-06 17:19:00,202412311719,17,19,12,31,2024,1052202412311719

In [50]:
loyalty_df.head(2)

,Transaction Number,Bar Code,Guest ID,Location ID,Checkin ID,Receipt DateTime,Revenue ID,Revenue Code,Location Name,Store Number,Menu Item ID,Menu Item Name,Amount,Menu Item Type,Menu Item Family,Menu Item Group,Quantity,Rate,date,StoreId,time,hour,month,year
0,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,49762.0,Meat & Potato Breakfast Burrito - Sausage,3.79,M,647,647,2.0,3.79,2023-01-01,1008,09:58:00,9.0,1.0,2023.0
1,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,49762.0,Meat & Potato Breakfast Burrito - Sausage,3.79,M,647,647,1.0,3.79,2023-01-01,1008,09:58:00,9.0,1.0,2023.0

In [57]:
# Add "key" column as a concatenate of 'StoreID' + 'Date' only numeric + 'CheckTime' only numeric:
loyalty_df['date'] = pd.to_datetime(loyalty_df['date'])
loyalty_df['dayofmonth'] = loyalty_df['date'].dt.day

# remove rows with month or year = NaN:
print(loyalty_df.shape)
loyalty_df = loyalty_df.dropna(subset=['date', 'time'])

print(loyalty_df.shape)

loyalty_df['year'] = loyalty_df['date'].dt.year.astype(int)
loyalty_df['month'] = loyalty_df['date'].dt.month.astype(int)
loyalty_df['hour'] = loyalty_df['Receipt DateTime'].dt.hour.astype(int)
loyalty_df['min'] = loyalty_df['Receipt DateTime'].dt.minute.astype(int)


loyalty_df['key'] = loyalty_df['StoreId'].astype(str) + loyalty_df['year'].astype(str) + loyalty_df['month'].astype(str) + loyalty_df['dayofmonth'].astype(str) + loyalty_df['hour'].astype(str) + loyalty_df['min'].astype(str)
loyalty_df

(514858, 25)
(514858, 25)

,Transaction Number,Bar Code,Guest ID,Location ID,Checkin ID,Receipt DateTime,Revenue ID,Revenue Code,Location Name,Store Number,Menu Item ID,Menu Item Name,Amount,Menu Item Type,Menu Item Family,Menu Item Group,Quantity,Rate,date,StoreId,time,hour,month,year,dayofmonth,min,key
0,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,49762.0,Meat & Potato Breakfast Burrito - Sausage,3.79,M,647,647,2.0,3.79,2023-01-01,1008,09:58:00,9,1,2023,1,58,1008202311958
1,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,49762.0,Meat & Potato Breakfast Burrito - Sausage,3.79,M,647,647,1.0,3.79,2023-01-01,1008,09:58:00,9,1,2023,1,58,1008202311958
2,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,51844.0,More Ingredients,0.00,M,720,720,1.0,0.00,2023-01-01,1008,09:58:00,9,1,2023,1,58,1008202311958
3,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,52046.0,Add Jalapenos,0.00,M,655,655,1.0,0.00,2023-01-01,1008,09:58:00,9,1,2023,1,58,1008202311958
4,3003,5.598271e+11,54929448,308230,855993175,2023-01-01 09:58:00,1541.0,Drive-Thru,Cheyenne (Dell Range Blvd) - 1008,4289,50254.0,Junior Breakfast Burrito - Sausage,1.69,M,647,647,4.0,1.69,2023-01-01,1008,09:58:00,9,1,2023,1,58,1008202311958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928972,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,47504.0,Extra Mild Sauce,0.00,M,655,655,1.0,0.00,2024-12-31,1001,16:42:00,16,12,2024,31,42,1001202412311642
928973,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,50301.0,SPECIALS - Softshell Taco - Taco Tuesday,1.49,M,646,646,1.0,1.49,2024-12-31,1001,16:42:00,16,12,2024,31,42,1001202412311642
928974,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,51844.0,More Ingredients,0.00,M,720,720,1.0,0.00,2024-12-31,1001,16:42:00,16,12,2024,31,42,1001202412311642
928975,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,52046.0,Add Jalapenos,0.00,M,655,655,1.0,0.00,2024-12-31,1001,16:42:00,16,12,2024,31,42,1001202412311642
928976,2054,4.690977e+11,8462614,308226,1683918417,2024-12-31 16:42:00,1538.0,Dine In,Cheyenne (E Pershing Blvd) - 1001,3818,49758.0,Add Diced Onions,0.00,M,655,655,1.0,0.00,2024-12-31,1001,16:42:00,16,12,2024,31,42,1001202412311642

# missing: key of ordered item IDs

# final step: merge by two keys

In [24]:

# Group by 'Key' and aggregate 'Menu Item ID' into a set
check_items = loyalty_df.groupby('Key')['Menu Item Name'].apply(set).reset_index()

# Merge with the original loyalty_dfFrame
loyalty_df = loyalty_df.merge(check_items, on='Key', how='left', suffixes=('', '_CheckItems'))


loyalty_df.rename(columns={'Menu Item ID_CheckItems': 'CheckItems'}, inplace=True)
loyalty_df['Key'].unique()
loyalty_df['Menu Item Name'].nunique()

1663

In [25]:
# t['MenuItemName'].unique()

In [26]:

# Group by 'Key' and aggregate 'Menu Item ID' into a set
receipt_item_summary = loyalty_df.groupby('Key')['Menu Item Name'].apply(set).reset_index()

# Rename columns
receipt_item_summary.rename(columns={'Menu Item Name': 'CheckItems'}, inplace=True)


# receipt_item_summary['CheckItems']=receipt_item_summary['CheckItems'].astype(list)
receipt_item_summary.head(3)

,Key,CheckItems
0,1001.0_2023-01-01_11:56:00,"{Sm Mtn Dew, EZ #3 SBurrito, Super Burrito, No..."
1,1001.0_2023-01-03_17:19:00,"{Grld Ckn Burrit, Potato Ole Md, Md Sierra Mis..."
2,1001.0_2023-01-03_17:20:00,"{EZ Combo, Potato Ole Sm, Potato Ole Md, Md Si..."

In [27]:

# # Group by 'Key' and aggregate 'Menu Item ID' into a set
# receipt_item_summary_t = transctional_df.groupby('Key')['MenuItemName'].apply(set).reset_index()

# # Rename columns
# receipt_item_summary_t.rename(columns={'MenuItemId': 'CheckItems'}, inplace=True)


# # receipt_item_summary['CheckItems']=receipt_item_summary['CheckItems'].astype(list)
# receipt_item_summary_t.head(3)

In [147]:
merged_data = receipt_item_summary.merge(transctional_df, on='Key', how='right')
merged_data.shape

(8448883, 26)

In [29]:
merged_data.columns

Index(['Key', 'CheckItems', 'StoreId', 'Date', 'CheckTime', 'UniqueCheckId',
       'PLU', 'MenuItemId', 'MenuItemName', 'ItemCount', 'Amount', 'Tax',
       'LineType', 'LineTypeDescription', 'CategoryName', 'ReductionId',
       'ReductionName', 'order_channel', 'Order_type', 'discount_amt',
       'DiscountName', 'date', 'time', 'hour', 'month', 'year'],
      dtype='object')

In [81]:

transctional_df['UniqueCheckId'].nunique()

1594146

In [31]:

merged_data['UniqueCheckId'].nunique()

1594146

In [32]:
merged_data[merged_data['UniqueCheckId'].isnull()]

Empty DataFrame
Columns: [Key, CheckItems, StoreId, Date, CheckTime, UniqueCheckId, PLU, MenuItemId, MenuItemName, ItemCount, Amount, Tax, LineType, LineTypeDescription, CategoryName, ReductionId, ReductionName, order_channel, Order_type, discount_amt, DiscountName, date, time, hour, month, year]
Index: []

[0 rows x 26 columns]

In [33]:
merged_data.columns

Index(['Key', 'CheckItems', 'StoreId', 'Date', 'CheckTime', 'UniqueCheckId',
       'PLU', 'MenuItemId', 'MenuItemName', 'ItemCount', 'Amount', 'Tax',
       'LineType', 'LineTypeDescription', 'CategoryName', 'ReductionId',
       'ReductionName', 'order_channel', 'Order_type', 'discount_amt',
       'DiscountName', 'date', 'time', 'hour', 'month', 'year'],
      dtype='object')

In [34]:
merged_data['CheckItems'].isnull().sum()

np.int64(7888026)

In [35]:
merged_data[['Key','CheckItems','StoreId','UniqueCheckId','MenuItemName']].head()

,Key,CheckItems,StoreId,UniqueCheckId,MenuItemName
0,1051.0_2024-01-03_19:04:00,NaN,1051.0,324010510,No Thanks
1,1051.0_2024-01-03_19:04:00,NaN,1051.0,324010510,Large Potato Oles
2,1051.0_2024-01-03_19:04:00,NaN,1051.0,324010510,Nacho Crunch Chicken Burrito
3,1051.0_2024-01-03_19:04:00,NaN,1051.0,324010510,4 Cheese Chicken Quesadilla
4,1051.0_2024-01-03_19:04:00,NaN,1051.0,324010510,Street Taco - Ck Trio Combo - Qu

In [36]:
# loyalty_df[loyalty_df['Key']=='1001.0_2023-01-04_08:21:00']['Menu']

In [92]:
aux=merged_data[merged_data['Key']=='1001.0_2023-01-04_08:21:00']

In [91]:

# aux['member']=np.where(aux['CheckItems'].isna(),'non-loyalty member','notyet')
# aux

In [39]:
# a={'Sm Diet Pepsi', 'S&P Burrito P', 'Snack Chz Quesa', 'Grill'}
# b={'Sm Diet Pepsi', 'S&P Burrito P', 'Snack Chz Quesa', 'Grill'}
# a==b and 1 == 1

True

In [40]:
merged_data.shape

(8448883, 26)

In [111]:
check_items = {'S&P Burrito P'}
menu_items = {'S&P Burrito P'}
unique_check_ids = 1  # Example value

# Convert to sets to ensure proper comparison
check_items = set(check_items)
menu_items = set(menu_items)

if (check_items == menu_items) and (unique_check_ids == 1):
    print("Condition met: Loyalty member")

Condition met: Loyalty member

In [130]:
aux['member']='0'

/var/folders/lg/b8pw7x296y397cn0g302yt680000gp/T/ipykernel_13295/913986073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux['member']='0'

In [131]:
aux

,Key,CheckItems,StoreId,Date,CheckTime,UniqueCheckId,PLU,MenuItemId,MenuItemName,ItemCount,...,order_channel,Order_type,discount_amt,DiscountName,date,time,hour,month,year,member
81908,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,49020,212.0,Medium Potato Oles,1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
81909,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,52268,103.0,Add Sausage,1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
81910,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,50395,1091.0,Breakfast MPB Combo - Bacon - Qu,1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
81911,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,51897,135.0,"Mountain Dew, Medium",1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
81912,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,51844,1179.0,More Ingredients,1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
81913,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,51892,383.0,"Medium, Drink",1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
7902099,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,55244,416.0,Add Hot Sauce,10.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
7902100,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,50253,11.0,Junior Breakfast Burrito - Bacon,4.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
7902101,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,ServiceCharge-51762,1742.0,Service Charge,1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
7902102,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,50893,22.0,Small Potato Oles Scrambler - Bacon,1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
7902103,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,49016,211.0,Small Potato Oles,1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
7902104,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,50064,29.0,Potato Oles Scrambler - Bacon,1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0
7902105,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,52060,120.0,"Dr. Pepper, Small",1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,0

In [149]:
check_items={'d'
             }
list(check_items)

['d']

In [170]:
merged_data[merged_data['CheckItems'].notnull()]

,Key,CheckItems,StoreId,Date,CheckTime,UniqueCheckId,PLU,MenuItemId,MenuItemName,ItemCount,...,order_channel,Order_type,discount_amt,DiscountName,date,time,hour,month,year,member
111,1006.0_2023-01-05_09:31:00,"{Meat & Potato Breakfast Burrito - Sausage, Ju...",1006.0,2023-01-05,2025-02-06 09:31:00,523010063,49760,843.0,Remove Potato Oles,1.0,...,Dine In\r,Dine,NaN,NaN,2023-01-05,09:31:00,0.0,1.0,2023.0,error
112,1006.0_2023-01-05_09:31:00,"{Meat & Potato Breakfast Burrito - Sausage, Ju...",1006.0,2023-01-05,2025-02-06 09:31:00,523010063,49762,19.0,Meat & Potato Breakfast Burrito - Sausage,1.0,...,Dine In\r,Dine,NaN,NaN,2023-01-05,09:31:00,0.0,1.0,2023.0,error
113,1006.0_2023-01-05_09:31:00,"{Meat & Potato Breakfast Burrito - Sausage, Ju...",1006.0,2023-01-05,2025-02-06 09:31:00,523010063,50254,10.0,Junior Breakfast Burrito - Sausage,1.0,...,Dine In\r,Dine,NaN,NaN,2023-01-05,09:31:00,0.0,1.0,2023.0,error
281,1005.0_2023-02-04_10:17:00,"{Meat & Potato Breakfast Burrito - Sausage, Si...",1005.0,2023-02-04,2025-02-06 10:17:00,3523010052,49762,19.0,Meat & Potato Breakfast Burrito - Sausage,1.0,...,To Go\r,Take,NaN,NaN,2023-02-04,10:17:00,0.0,2.0,2023.0,error
282,1005.0_2023-02-04_10:17:00,"{Meat & Potato Breakfast Burrito - Sausage, Si...",1005.0,2023-02-04,2025-02-06 10:17:00,3523010052,51893,384.0,"Large, Drink",1.0,...,To Go\r,Take,NaN,NaN,2023-02-04,10:17:00,0.0,2.0,2023.0,error
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8448392,1001.0_2024-12-31_10:57:00,"{Medium Potato Ole's, Apple Grande, M&P Breakf...",1001.0,2024-12-31,2025-02-06 10:57:00,3662401001175725115,123693,3838.0,Cheesy Queso Boss Burrito Combo - Chicken,1.0,...,Third Party Delivery - OLO\r,Online,NaN,NaN,2024-12-31,10:57:00,0.0,12.0,2024.0,error
8448393,1001.0_2024-12-31_10:57:00,"{Medium Potato Ole's, Apple Grande, M&P Breakf...",1001.0,2024-12-31,2025-02-06 10:57:00,3662401001175725115,52064,3595.0,"Sweet Tea, Small - Qu",1.0,...,Third Party Delivery - OLO\r,Online,NaN,NaN,2024-12-31,10:57:00,0.0,12.0,2024.0,error
8448758,1051.0_2024-12-31_11:49:00,"{More Ingredients, Add Sour Cream, SIDE -Nacho...",1051.0,2024-12-31,2025-02-06 11:49:00,3662401051174912970,50433,1140.0,6 Pack - Softshell Tacos - Qu,1.0,...,Third Party Delivery - OLO\r,Online,NaN,NaN,2024-12-31,11:49:00,0.0,12.0,2024.0,error
8448759,1051.0_2024-12-31_11:49:00,"{More Ingredients, Add Sour Cream, SIDE -Nacho...",1051.0,2024-12-31,2025-02-06 11:49:00,3662401051174912970,51901,3564.0,"Pepsi, Large - Qu",1.0,...,Third Party Delivery - OLO\r,Online,NaN,NaN,2024-12-31,11:49:00,0.0,12.0,2024.0,error
8448760,1051.0_2024-12-31_11:49:00,"{More Ingredients, Add Sour Cream, SIDE -Nacho...",1051.0,2024-12-31,2025-02-06 11:49:00,3662401051174912970,51843,268.0,2 Large Potato Oles,1.0,...,Third Party Delivery - OLO\r,Online,NaN,NaN,2024-12-31,11:49:00,0.0,12.0,2024.0,error

In [171]:
lists=[]
def verify_items(group):
  
    lenf=int(group.shape[0])
    print(lenf)
    try:
    
        check_items = group['CheckItems'].iloc[0]

        # If CheckItems is NaN, return 'non-loyalty member'
        # if pd.isna(check_items):
        #     print('non-loyalty member')
        #     return 'non-loyalty member'

        print('Processing group...')  # Debugging

        # Check the number of unique UniqueCheckId and all menu items in the group
        unique_check_ids = group['UniqueCheckId'].nunique()
        menu_items = list(group['MenuItemName'].unique())  # All menu items in the group
        # unique_check_ids=1
        # Check conditions
        check_items=list(check_items)
        print(check_items)
        # menu_items=list(menu_items)
    
        if (sorted(check_items) == sorted(menu_items)) & (unique_check_ids == 1):
            print('loyalty member')
            return 'loyalty member'
       
            # loyal_list = ["loyalty member"] * lenf
            
            # for item in loyal_list:
            #     lists.append(item)
        else:
            print('non-loyalty member')
            return 'non-loyalty member'
            # non_loyal_list = ["non-loyalty member"] * lenf
            # for item in non_loyal_list:
            #     lists.append(item)
    except:
        # error = ["error"] * lenf
        # for item in error:
        return 'error'
      
        #    lists.append(item)
        
  

# Apply the function to each group and assign to the 'member' column
aux['member'] = (
    aux.groupby('Key').apply(verify_items).reset_index(drop=True)
)
# aux['member'] = aux.groupby('Key').apply(verify_items).reset_index( drop=True)

13
Processing group...
['S&P Burrito P', 'Sm Diet Pepsi', 'Snack Chz Quesa', 'Grill']
non-loyalty member

/var/folders/lg/b8pw7x296y397cn0g302yt680000gp/T/ipykernel_13295/2474833513.py:51: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  aux.groupby('Key').apply(verify_items).reset_index(drop=True)

In [173]:
aux

,Key,CheckItems,StoreId,Date,CheckTime,UniqueCheckId,PLU,MenuItemId,MenuItemName,ItemCount,...,order_channel,Order_type,discount_amt,DiscountName,date,time,hour,month,year,member
81908,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,49020,212.0,Medium Potato Oles,1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
81909,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,52268,103.0,Add Sausage,1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
81910,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,50395,1091.0,Breakfast MPB Combo - Bacon - Qu,1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
81911,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,51897,135.0,"Mountain Dew, Medium",1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
81912,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,51844,1179.0,More Ingredients,1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
81913,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,423010014073,51892,383.0,"Medium, Drink",1.0,...,Drive-Thru\r,Drive,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
7902099,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,55244,416.0,Add Hot Sauce,10.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
7902100,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,50253,11.0,Junior Breakfast Burrito - Bacon,4.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
7902101,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,ServiceCharge-51762,1742.0,Service Charge,1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
7902102,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,50893,22.0,Small Potato Oles Scrambler - Bacon,1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
7902103,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,49016,211.0,Small Potato Oles,1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
7902104,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,50064,29.0,Potato Oles Scrambler - Bacon,1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN
7902105,1001.0_2023-01-04_08:21:00,"{S&P Burrito P, Sm Diet Pepsi, Snack Chz Quesa...",1001.0,2023-01-04,2025-02-06 08:21:00,42301001152108896,52060,120.0,"Dr. Pepper, Small",1.0,...,Third Party Delivery\r,Delivery,NaN,NaN,2023-01-04,08:21:00,0.0,1.0,2023.0,NaN

In [161]:
merged_data['member']=lists

In [162]:
merged_data

,Key,CheckItems,StoreId,Date,CheckTime,UniqueCheckId,PLU,MenuItemId,MenuItemName,ItemCount,...,order_channel,Order_type,discount_amt,DiscountName,date,time,hour,month,year,member
0,1051.0_2024-01-03_19:04:00,NaN,1051.0,2024-01-03,2025-02-06 19:04:00,324010510,49864,1212.0,No Thanks,1.0,...,Dine In - Kiosk\r,Kiosk,NaN,NaN,2024-01-03,19:04:00,0.0,1.0,2024.0,error
1,1051.0_2024-01-03_19:04:00,NaN,1051.0,2024-01-03,2025-02-06 19:04:00,324010510,49022,213.0,Large Potato Oles,1.0,...,Dine In - Kiosk\r,Kiosk,NaN,NaN,2024-01-03,19:04:00,0.0,1.0,2024.0,error
2,1051.0_2024-01-03_19:04:00,NaN,1051.0,2024-01-03,2025-02-06 19:04:00,324010510,62240,913.0,Nacho Crunch Chicken Burrito,1.0,...,Dine In - Kiosk\r,Kiosk,NaN,NaN,2024-01-03,19:04:00,0.0,1.0,2024.0,error
3,1051.0_2024-01-03_19:04:00,NaN,1051.0,2024-01-03,2025-02-06 19:04:00,324010510,64505,403.0,4 Cheese Chicken Quesadilla,1.0,...,Dine In - Kiosk\r,Kiosk,NaN,NaN,2024-01-03,19:04:00,0.0,1.0,2024.0,error
4,1051.0_2024-01-03_19:04:00,NaN,1051.0,2024-01-03,2025-02-06 19:04:00,324010510,50996,1178.0,Street Taco - Ck Trio Combo - Qu,1.0,...,Dine In - Kiosk\r,Kiosk,NaN,NaN,2024-01-03,19:04:00,0.0,1.0,2024.0,error
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8448878,1052.0_2024-12-31_17:15:00,NaN,1052.0,2024-12-31,2025-02-06 17:15:00,3662401052231510926,49100,425.0,Side - Guacamole,1.0,...,Third Party Delivery - OLO\r,Online,NaN,NaN,2024-12-31,17:15:00,0.0,12.0,2024.0,error
8448879,1052.0_2024-12-31_17:15:00,NaN,1052.0,2024-12-31,2025-02-06 17:15:00,3662401052231510926,64506,404.0,4 Cheese Steak Quesadilla,2.0,...,Third Party Delivery - OLO\r,Online,NaN,NaN,2024-12-31,17:15:00,0.0,12.0,2024.0,error
8448880,1052.0_2024-12-31_17:19:00,NaN,1052.0,2024-12-31,2025-02-06 17:19:00,3662401052231917348,ServiceCharge-51762,1742.0,Service Charge,1.0,...,Third Party Delivery - Grubhub\r,Delivery,NaN,NaN,2024-12-31,17:19:00,0.0,12.0,2024.0,error
8448881,1052.0_2024-12-31_17:19:00,NaN,1052.0,2024-12-31,2025-02-06 17:19:00,3662401052231917348,51842,269.0,2 Medium Potato Oles,1.0,...,Third Party Delivery - Grubhub\r,Delivery,NaN,NaN,2024-12-31,17:19:00,0.0,12.0,2024.0,error
8448882,1052.0_2024-12-31_17:19:00,NaN,1052.0,2024-12-31,2025-02-06 17:19:00,3662401052231917348,49810,1142.0,6 Pack - Crispy Tacos - Qu,1.0,...,Third Party Delivery - Grubhub\r,Delivery,NaN,NaN,2024-12-31,17:19:00,0.0,12.0,2024.0,error

In [163]:
merged_data[['UniqueCheckId','member']].groupby(['member']).nunique()

                    UniqueCheckId
member
error                     1533867
loyalty member              11593
non-loyalty member         154717

In [165]:
merged_data['UniqueCheckId'].nunique()

1594146

In [164]:

1533867+11593+154717

1700177

In [86]:
unique_check_member_dict = merged_data[['UniqueCheckId', 'member']].set_index('UniqueCheckId')['member'].to_dict()

# Display the resulting dictionary
unique_check_member_dict
merged_data['member'] = merged_data['member'].fillna(
    merged_data['UniqueCheckId'].map(unique_check_member_dict)
)

In [87]:
merged_data[merged_data['member'].isnull()]['UniqueCheckId'].nunique()

1321516

In [ ]:
merged_data.columns
aux=merged_data.copy()
aux['member']=np.where(aux['member'].isna(),'non-loyalty member',aux['member'])

In [ ]:
aux[['UniqueCheckId','member']].groupby(['member']).nunique()

                    UniqueCheckId
member
loyalty member               7936
non-loyalty member        1593950

In [ ]:
1593950+7936

1601886

In [ ]:
272435+7936
1594146-280371

1313775

In [ ]:
merged_data['UniqueCheckId'].nunique()

1594146

In [ ]:
merged_data[merged_data['member']=='loyalty member']['UniqueCheckId'].nunique()

7936

In [ ]:
merged_data['UniqueCheckId'].nunique()

1594146

In [ ]:
1593950+7936

1601886

In [ ]:
7936+272435

280371

In [ ]:
merged_data['member'].isnull().sum()

np.int64(7062265)

In [ ]:
14953+1541
17237+5513

In [ ]:
loyalty_df['Checkin ID'].nunique()

In [ ]:
transctional_df['UniqueCheckId'].nunique()

In [ ]:
transctional_df.StoreId.nunique()

In [ ]:
merged_data['UniqueCheckId'].nunique()

In [ ]:
# the missing number might be due to null values in some of columna e.g store_id and time

In [ ]:
merged_data[['UniqueCheckId','member']].groupby(['member']).nunique()

In [ ]:
df=merged_data.copy()

In [ ]:
# Basic Summary Statistics
summary_stats = df.groupby('member')[['ItemCount', 'Amount', 'Tax', 'discount_amt']].describe()

summary_stats

In [ ]:

# Popular Menu Items by Membership
top_items = df.groupby(['member', 'MenuItemName'])['ItemCount'].sum().reset_index()
top_items = top_items.sort_values(by=['member', 'ItemCount'], ascending=[True, False])
top_items

In [ ]:

# Order Type Distribution
order_type_distribution = df.groupby(['member', 'Order_type']).size().reset_index(name="count")
order_type_distribution

In [ ]:

# Order Channel Distribution
channel_distribution = df.groupby(['member', 'order_channel']).size().reset_index(name="count")
channel_distribution