In [1]:
import pandas as pd

In [8]:
store=pd.read_csv('../output_files/weekly_summary_sheet2.csv')
weekly_summary=pd.read_csv('../output_files/weekly_store.csv')

# highlight 1 : store id 03222-00033 dropes by 50% weekly revenue 

Store ID 03222-00033 – WoW Drop Analysis
• Initial WoW drop: -50%
• Issue found: Missing current week's Friday data
• Adjustment: Used last Friday's sales as proxy
• Adjusted WoW drop: -33%
• Note: Still highest drop among 72 stores

In [11]:
least_wow_change_store=store.sort_values(by='WoW Change').head(1)
least_wow_change_store

,Week,Brand,Store Id,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems,TopOrderMethod
20,2025-06-15,Little Caesars,03222-00032,8771.4,445,19.71,-29.6,"EMB Pepperoni, Classic Pepperoni",Mobile

In [12]:
weekly_summary[weekly_summary['FranchiseStore'].isin(least_wow_change_store['Store Id'])].sort_values(by='BusinessDate').head(3)

,FranchiseStore,BusinessDate,NetAmount,OrderId,Average Order Value,WoW Change,Brand,Top2MenuItems,TopOrderMethod
5,03222-00032,2025-06-08,12459.94,552,22.57,NaN,Little Caesars,"EMB Pepperoni, Classic Pepperoni",Mobile
92,03222-00032,2025-06-15,8771.41,445,19.71,-29.6,Little Caesars,"EMB Pepperoni, Classic Pepperoni",Mobile

In [28]:
store.sort_values(by='WoW Change',ascending=False).head(2)

,Week,Brand,Store Id,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems,TopOrderMethod
14,2025-06-15,Little Caesars,03222-00033,10939.6,493,22.19,97.6,"Classic Pepperoni, EMB Pepperoni",Mobile
12,2025-06-15,Little Caesars,03222-00047,8446.4,440,19.20,28.1,"Classic Pepperoni, EMB Pepperoni",Mobile

In [27]:
least_wow_change_store=store.sort_values(by='WoW Change',ascending=False).head(2)
least_wow_change_store
weekly_summary[weekly_summary['FranchiseStore'].isin(least_wow_change_store['Store Id'])].sort_values(by='BusinessDate').head(3)

,FranchiseStore,BusinessDate,NetAmount,OrderId,Average Order Value,WoW Change,Brand,Top2MenuItems,TopOrderMethod
9,03222-00033,2025-06-08,5536.12,250,22.14,NaN,Little Caesars,"EMB Pepperoni, Classic Pepperoni",Mobile
47,03222-00047,2025-06-08,6592.64,351,18.78,NaN,Little Caesars,"Classic Pepperoni, EMB Pepperoni",Mobile
84,03222-00047,2025-06-15,8446.40,440,19.20,28.1,Little Caesars,"Classic Pepperoni, EMB Pepperoni",Mobile

In [18]:
# checked the data for one of the stores
# missing friday
data = pd.read_csv(
    "/Users/nooreen/Desktop/High_margin/VIBE/e-commerce_report/weekly_sales/transactional data/june2-15.csv",
    parse_dates=["BusinessDate"],

)
# data=data[data.index> "2025-05-25 00:00:00"]
store_id_33=data[(data['FranchiseStore']=='03222-00033')]

store_id_33

,FranchiseStore,BusinessDate,DateTimePlaced,NetAmount,Quantity,OrderId,ItemId,MenuItemName,BundleName,OrderPlacedMethod
763,03222-00033,2025-06-09,6/9/2025 17:04,0.00,0,1060033,-,NaN,Crazy Combo,DoorDash
764,03222-00033,2025-06-09,6/9/2025 19:11,0.00,0,1060066,-,NaN,Crazy Combo,DoorDash
765,03222-00033,2025-06-10,6/10/2025 13:18,0.00,0,1060141,-,NaN,Crazy Combo,DoorDash
766,03222-00033,2025-06-10,6/10/2025 16:38,0.00,0,1060199,-,NaN,Crazy Combo,DoorDash
767,03222-00033,2025-06-11,6/11/2025 16:46,0.00,0,1060380,-,NaN,Pretzel Crust Combo,DoorDash
...,...,...,...,...,...,...,...,...,...,...
261098,03222-00033,2025-06-08,6/8/2025 18:32,0.00,0,1059896,6,Tip,NaN,Website
261705,03222-00033,2025-06-03,6/3/2025 20:15,14.99,1,1059097,201004,Ultimate Supreme,NaN,Website
261706,03222-00033,2025-06-04,6/4/2025 12:48,14.99,1,1059143,201004,Ultimate Supreme,NaN,Website
261707,03222-00033,2025-06-05,6/5/2025 9:52,14.99,1,1059311,201004,Ultimate Supreme,NaN,Website
261708,03222-00033,2025-06-08,6/8/2025 19:12,14.99,1,1059909,201004,Ultimate Supreme,NaN,Website

In [20]:
# check fordailyt sale to estimaare for friday sale
store_id_33.groupby('BusinessDate').agg({'NetAmount':'sum'}).sort_index()

              NetAmount
BusinessDate
2025-06-02       783.44
2025-06-03      1060.30
2025-06-04      1520.78
2025-06-05       159.01
2025-06-07       238.92
2025-06-08      1773.67
2025-06-09      1134.56
2025-06-10      1277.96
2025-06-11      1018.53
2025-06-12       969.68
2025-06-13      2914.36
2025-06-14      2365.77
2025-06-15      1258.79

In [24]:

weekly_summary[weekly_summary['FranchiseStore'].isin(least_wow_change_store['Store Id'])].sort_values(by='BusinessDate').head(3)

,FranchiseStore,BusinessDate,NetAmount,OrderId,Average Order Value,WoW Change,Brand,Top2MenuItems,TopOrderMethod
9,03222-00033,2025-06-08,5536.12,250,22.14,NaN,Little Caesars,"EMB Pepperoni, Classic Pepperoni",Mobile
86,03222-00033,2025-06-15,10939.65,493,22.19,97.6,Little Caesars,"Classic Pepperoni, EMB Pepperoni",Mobile

In [25]:
# last friday it did 1827.29
# asuming same
5536.12+1827.29
# (10939.65-18450.48	)/18450.48*100

48.55% increase

7363.41

# highlight 2

In [33]:
top_wow_change_store=store.sort_values(by='WoW Change',ascending=False).head(2)
top_wow_change_store

,Week,Brand,Store Id,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems,TopOrderMethod
14,2025-06-15,Little Caesars,03222-00033,10939.6,493,22.19,97.6,"Classic Pepperoni, EMB Pepperoni",Mobile
12,2025-06-15,Little Caesars,03222-00047,8446.4,440,19.20,28.1,"Classic Pepperoni, EMB Pepperoni",Mobile

In [34]:
top_AOA_store=store.sort_values(by='Average Order Value',ascending=False).head(3)
top_AOA_store

,Week,Brand,Store Id,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems,TopOrderMethod
8,2025-06-15,Little Caesars,03222-00028,7664.9,314,24.41,-0.6,"EMB Pepperoni, Caesar Wings",Website
49,2025-06-15,Little Caesars,03222-00017,17968.9,768,23.40,4.4,"EMB Pepperoni, Classic Pepperoni",Mobile
24,2025-06-15,Little Caesars,03222-00018,11014.2,473,23.29,-4.3,"EMB Pepperoni, Classic Pepperoni",Mobile

In [35]:
least_AOA_store=store.sort_values(by='Average Order Value').head(3)
least_AOA_store

,Week,Brand,Store Id,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems,TopOrderMethod
15,2025-06-15,Little Caesars,03222-00046,9095.5,516,17.63,-10.4,"Classic Pepperoni, EMB Pepperoni",Mobile
45,2025-06-15,Little Caesars,01389-00013,8907.1,503,17.71,-2.8,"EMB Pepperoni, Classic Pepperoni",Mobile
37,2025-06-15,Little Caesars,01389-00011,13848.3,732,18.92,-3.1,"EMB Pepperoni, Classic Pepperoni",Mobile

In [36]:
store['Average Order Value'].describe()

count    72.000000
mean     20.852917
std       1.305645
min      17.630000
25%      19.900000
50%      20.770000
75%      21.757500
max      24.410000
Name: Average Order Value, dtype: float64

# highlight 3

In [37]:
store=pd.read_csv('../output_files/weekly_summary_sheet2.csv')
weekly_summary=pd.read_csv('../output_files/weekly_store.csv')
store.head(3)

,Week,Brand,Store Id,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems,TopOrderMethod
0,2025-06-15,Little Caesars,03222-00038,19785.4,1001,19.77,-1.9,"EMB Pepperoni, Custom Stuffed Crust",Mobile
1,2025-06-15,Little Caesars,03646-00001,9483.9,458,20.71,-3.3,"Classic Pepperoni, Crazy Bread",Mobile
2,2025-06-15,Little Caesars,03222-00022,5169.2,244,21.19,-19.3,"EMB Pepperoni, Classic Pepperoni",Mobile

In [38]:
store['TopOrderMethod'].value_counts().head(10)

Mobile     71
Website     1
Name: TopOrderMethod, dtype: int64

In [40]:
store[store['TopOrderMethod']=='Website'].sort_values(by='WoW Change',ascending=False).head(3)

,Week,Brand,Store Id,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems,TopOrderMethod
8,2025-06-15,Little Caesars,03222-00028,7664.9,314,24.41,-0.6,"EMB Pepperoni, Caesar Wings",Website

# highlights 4

In [41]:
channel=pd.read_csv('../output_files/weekly_summary_sheet3.csv')
channel.head(2)

,Week,Brand,Store Id,Digital Channel,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems
0,2025-06-15,Little Caesars,03646-00001,Website,3007.1,139,21.63,-0.3,"Classic Pepperoni, Crazy Bread"
1,2025-06-15,Little Caesars,03222-00025,Website,1281.1,54,23.72,-3.4,"Custom Round, Classic Pepperoni"

In [42]:
channel.groupby(['Digital Channel','Top2MenuItems']).agg({'Total Revenue':'sum'}).sort_values(by='Total Revenue',ascending=False).head(10)

                                                                Total Revenue
Digital Channel Top2MenuItems
Mobile          Classic Pepperoni, EMB Pepperoni                     165626.4
                Classic Pepperoni, Classic Cheese                    103253.4
Website         Classic Pepperoni, EMB Pepperoni                      62078.5
                Classic Pepperoni, Classic Cheese                     50779.3
Mobile          Classic Pepperoni, Crazy Bread                        44434.8
DoorDash        EMB Pepperoni, Stuffed Crazy Crust Pepperoni          41330.7
                EMB Pepperoni, EMB Cheese                             33845.6
Mobile          Classic Pepperoni, Stuffed Crust EMB Pepperoni        21907.9
DoorDash        EMB Pepperoni, Custom Stuffed Crust                   19504.2
Website         Classic Pepperoni, Crazy Bread                        16656.7

In [43]:
aux=channel.groupby('Digital Channel').agg({'Total Revenue':'sum'}).sort_values(by='Total Revenue',ascending=False).reset_index()

In [45]:
aux['pct']=aux['Total Revenue']/aux['Total Revenue'].sum()*100
aux

  Digital Channel  Total Revenue        pct
0          Mobile       382112.9  48.744343
1         Website       203570.2  25.968492
2        DoorDash       145422.4  18.550851
3        UberEats        48677.0   6.209496
4         Grubhub         4129.8   0.526819

In [46]:
least_wow_change_store=channel.sort_values(by='WoW Change').head(20)
least_wow_change_store.sort_values(by=['Store Id','Digital Channel','WoW Change'])

,Week,Brand,Store Id,Digital Channel,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems
179,2025-06-15,Little Caesars,01389-00001,UberEats,224.1,14,16.01,-55.6,"EMB Pepperoni, Stuffed Crazy Crust Pepperoni"
162,2025-06-15,Little Caesars,01389-00005,UberEats,85.9,3,28.64,-53.3,"Ultimate Supreme, Custom Stuffed Crust"
185,2025-06-15,Little Caesars,01389-00008,UberEats,51.4,4,12.85,-54.3,"EMB Pepperoni, 2 L Beverage"
187,2025-06-15,Little Caesars,01494-00001,Grubhub,34.6,2,17.30,-59.4,"Pretzel Crust with Cheese Sauce & Pepperoni, E..."
144,2025-06-15,Little Caesars,01940-00007,Grubhub,68.6,4,17.16,-66.1,"Custom Stuffed Crust, Stuffed Crazy Crust Pepp..."
134,2025-06-15,Little Caesars,01940-00010,Grubhub,137.7,6,22.95,-53.2,"Custom Stuffed Crust, Stuffed Crazy Crust Pepp..."
310,2025-06-15,Little Caesars,01944-00006,UberEats,88.3,5,17.66,-42.6,"EMB Pepperoni, Stuffed Crazy Crust Pepperoni"
297,2025-06-15,Little Caesars,03222-00001,Grubhub,53.1,3,17.70,-67.3,Stuffed Pretzel Crust with Cheese Sauce & Pepp...
232,2025-06-15,Little Caesars,03222-00003,UberEats,129.1,5,25.83,-58.9,"EMB Pepperoni, Custom Stuffed Crust"
227,2025-06-15,Little Caesars,03222-00004,UberEats,495.3,28,17.69,-41.4,"EMB Pepperoni, EMB Sausage"
225,2025-06-15,Little Caesars,03222-00006,Grubhub,52.5,3,17.51,-63.0,"Italian Cheese Bread, Thin Crust EMB Pepperoni"
256,2025-06-15,Little Caesars,03222-00015,UberEats,105.5,5,21.10,-41.7,"EMB Pepperoni, Crazy Bread"
241,2025-06-15,Little Caesars,03222-00019,UberEats,26.3,1,26.29,-82.0,"EMB Pepperoni, Italian Cheese Bread"
81,2025-06-15,Little Caesars,03222-00026,UberEats,215.5,12,17.96,-55.7,"EMB Pepperoni, Crazy Bread"
65,2025-06-15,Little Caesars,03222-00036,Grubhub,21.5,1,21.48,-82.5,Stuffed Pretzel Crust with Cheese Sauce & Chee...
64,2025-06-15,Little Caesars,03222-00043,Grubhub,39.4,2,19.69,-67.7,"Slices-N-Stix with Crazy Sauce, 2 L Beverage"
39,2025-06-15,Little Caesars,03222-00044,Grubhub,13.7,1,13.72,-46.6,"EMB Pepperoni, Crazy Bread"
43,2025-06-15,Little Caesars,03222-00044,UberEats,17.7,2,8.84,-90.5,"EMB Pepperoni, Pretzel Crust with Cheese Sauce..."
31,2025-06-15,Little Caesars,03646-00001,UberEats,64.6,5,12.91,-62.3,"EMB Pepperoni, Stuffed Crazy Bread with Crazy ..."
6,2025-06-15,Little Caesars,03646-00002,Grubhub,89.1,5,17.81,-50.1,"Custom Round, EMB Sausage"

In [47]:
least_wow_change_store['Store Id'].value_counts()

03222-00044    2
03222-00026    1
03222-00015    1
01944-00006    1
03646-00002    1
01940-00010    1
01389-00005    1
01389-00008    1
01389-00001    1
03222-00003    1
03222-00036    1
01494-00001    1
03646-00001    1
03222-00006    1
01940-00007    1
03222-00001    1
03222-00043    1
03222-00019    1
03222-00004    1
Name: Store Id, dtype: int64

In [49]:

least_wow_change_store[least_wow_change_store['Store Id']=='03222-00044']

,Week,Brand,Store Id,Digital Channel,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems
43,2025-06-15,Little Caesars,03222-00044,UberEats,17.7,2,8.84,-90.5,"EMB Pepperoni, Pretzel Crust with Cheese Sauce..."
39,2025-06-15,Little Caesars,03222-00044,Grubhub,13.7,1,13.72,-46.6,"EMB Pepperoni, Crazy Bread"

In [ ]:
# store id 03222-00033' appeared to the least wow change store in the channel data threshold <-40%
 this store apeaed to have a very low revenue in the channel data for three time with 3 different channels, website, , mobile doordash 
 with -56, -51 and -41 respectively

In [101]:
data[data['FranchiseStore']=='03222-00033']['OrderPlacedMethod'].value_counts()

OrderPlacedMethod
Mobile      1370
Website      836
DoorDash     452
UberEats     231
Grubhub       12
Name: count, dtype: int64

In [102]:
#top lowews wow
channel[channel['Store Id']=='01389-00004']

,Week,Brand,Store Id,Digital Channel,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems
119,2025-06-08,Little Caesars,01389-00004,Website,3471.0,128,27.12,29.1,"Classic Pepperoni, Classic Cheese"
133,2025-06-08,Little Caesars,01389-00004,UberEats,49.8,3,16.61,-76.3,"EMB Pepperoni, Crazy Bread"
150,2025-06-08,Little Caesars,01389-00004,DoorDash,2660.5,125,21.28,16.3,"EMB Pepperoni, EMB Cheese"
153,2025-06-08,Little Caesars,01389-00004,Mobile,5710.4,267,21.39,8.1,"Classic Pepperoni, Classic Cheese"

In [105]:
top_wow_change_store=channel.sort_values(by='WoW Change',ascending=False).head(20)
top_wow_change_store
# top_wow_change_store.sort_values(by=['Store Id','Digital Channel','WoW Change'])

,Week,Brand,Store Id,Digital Channel,Total Revenue,Total Orders,Average Order Value,WoW Change,Top2MenuItems
196,2025-06-08,Little Caesars,03222-00006,Grubhub,142.0,5,28.41,260.7,"Ultimate Supreme, EMB Pepperoni"
203,2025-06-08,Little Caesars,03222-00002,Grubhub,120.9,4,30.22,257.9,"Custom Round, Crazy Bread"
91,2025-06-08,Little Caesars,03646-00002,Grubhub,178.6,10,17.86,243.4,"EMB Pepperoni, Custom Detroit-Style Deep Dish"
297,2025-06-08,Little Caesars,01494-00005,UberEats,86.8,4,21.69,233.0,"Custom Stuffed Crust, 3 Meat Treat"
141,2025-06-08,Little Caesars,03222-00046,Grubhub,142.0,6,23.66,193.0,"Custom Stuffed Crust, Ultimate Supreme"
135,2025-06-08,Little Caesars,03222-00044,UberEats,185.2,10,18.52,187.8,"EMB Pepperoni, Custom Stuffed Crust"
182,2025-06-08,Little Caesars,03222-00010,UberEats,70.0,3,23.32,168.2,"Stuffed Crazy Crust Custom, Stuffed Crazy Crus..."
292,2025-06-08,Little Caesars,03222-00016,UberEats,257.5,14,18.39,159.4,"EMB Pepperoni, Caesar Wings"
20,2025-06-08,Little Caesars,03222-00036,Grubhub,122.5,5,24.49,155.3,"Caesar Wings, EMB Pepperoni"
29,2025-06-08,Little Caesars,01389-00008,UberEats,112.6,6,18.76,141.2,"EMB Pepperoni, 3 Meat Treat"
197,2025-06-08,Little Caesars,01826-00003,UberEats,73.1,6,12.19,132.5,"EMB Pepperoni, Pretzel Crust with Cheese Sauce..."
262,2025-06-08,Little Caesars,01389-00013,UberEats,446.2,29,15.39,112.0,"EMB Pepperoni, Crazy Bread"
163,2025-06-08,Little Caesars,01978-00002,Grubhub,297.1,12,24.76,108.7,"Caesar Wings, Stuffed Crazy Crust Cheese"
271,2025-06-08,Little Caesars,01944-00004,Grubhub,29.8,1,29.84,100.1,"3 Meat Treat, Italian Cheese Bread"
181,2025-06-08,Little Caesars,01944-00006,UberEats,154.0,8,19.25,98.4,"EMB Pepperoni, Hula Hawaiian H"
232,2025-06-08,Little Caesars,03222-00003,UberEats,314.5,14,22.46,94.9,"EMB Pepperoni, Crazy Bread"
4,2025-06-08,Little Caesars,03222-00035,UberEats,551.4,28,19.69,86.3,"EMB Pepperoni, Crazy Bread"
127,2025-06-08,Little Caesars,03222-00043,Grubhub,122.0,5,24.39,79.0,"Slices-N-Stix with Crazy Sauce, 3 Meat Treat"
130,2025-06-08,Little Caesars,01389-00005,UberEats,184.2,9,20.47,78.9,"EMB Pepperoni, Custom Stuffed Crust"
254,2025-06-08,Little Caesars,01494-00001,UberEats,664.6,36,18.46,73.7,"EMB Pepperoni, 5 Meat Feast"

In [109]:
channel.columns

Index(['FranchiseStore', 'OrderPlacedMethod', 'BusinessDate', 'NetAmount',
       'OrderId', 'Average Order Value', 'WoW Change', 'Top2MenuItems'],
      dtype='object')

In [112]:
channel=pd.read_csv('../output_files/weekly_channel.csv')
channel[channel['FranchiseStore']=='03222-00006'].sort_values(by=['OrderPlacedMethod','BusinessDate'])

,FranchiseStore,OrderPlacedMethod,BusinessDate,NetAmount,OrderId,Average Order Value,WoW Change,Top2MenuItems
15,03222-00006,DoorDash,2025-06-01,1846.29,86,21.47,NaN,"EMB Pepperoni, EMB Cheese"
523,03222-00006,DoorDash,2025-06-08,2107.62,96,21.95,14.2,"EMB Pepperoni, EMB Cheese"
14,03222-00006,Grubhub,2025-06-01,39.38,2,19.69,NaN,"EMB Cheese, Stuffed Pretzel Crust with Pizza S..."
521,03222-00006,Grubhub,2025-06-08,142.03,5,28.41,260.7,"Ultimate Supreme, EMB Pepperoni"
13,03222-00006,Mobile,2025-06-01,6965.83,353,19.73,NaN,"Classic Pepperoni, Crazy Bread"
498,03222-00006,Mobile,2025-06-08,7273.38,335,21.71,4.4,"Classic Pepperoni, Crazy Bread"
12,03222-00006,UberEats,2025-06-01,221.84,9,24.65,NaN,"Custom Round, Old World Fanceroni Pepperoni™"
496,03222-00006,UberEats,2025-06-08,181.97,12,15.16,-18.0,"EMB Pepperoni, Crazy Bread"
11,03222-00006,Website,2025-06-01,3027.40,134,22.59,NaN,"Classic Pepperoni, Classic Cheese"
494,03222-00006,Website,2025-06-08,2749.17,133,20.67,-9.2,"Classic Pepperoni, Classic Cheese"

In [114]:
(142-39)/39*100

264.1025641025641

# item level

In [65]:
store=pd.read_csv('../output_files/weekly_summary_sheet4.csv')
store=store[store['Store Id']!='03222-00033']

store.sort_values(by='WoW Change').head(20)
a=store[store['WoW Change']<=-40].sort_values(by='WoW Change')
a

,Week,Brand,Store Id,Product Name,Unit Sold,Total Revenue,Average Order Value,WoW Change,Topchannel
567,2025-06-15,Little Caesars,03222-00032,Stuffed Pretzel Crust with Cheese Sauce & Pepp...,16,159.85,9.99,-66.3,Mobile
333,2025-06-15,Little Caesars,01978-00005,Classic Cheese,28,233.51,10.15,-65.7,Mobile
188,2025-06-15,Little Caesars,01893-00001,Stuffed Crazy Crust Pepperoni,20,262.74,13.83,-62.6,Mobile
559,2025-06-15,Little Caesars,03222-00032,Classic Cheese,68,452.79,7.94,-55.9,Mobile
18,2025-06-15,Little Caesars,01389-00002,Stuffed Crazy Crust Pepperoni,16,221.32,13.83,-55.5,DoorDash
553,2025-06-15,Little Caesars,03222-00028,Custom Round,15,207.27,15.94,-54.5,Website
422,2025-06-15,Little Caesars,03222-00010,3 Meat Treat,9,125.99,14.00,-53.7,Mobile
334,2025-06-15,Little Caesars,01978-00005,Classic Pepperoni,44,370.22,12.34,-52.4,Mobile
110,2025-06-15,Little Caesars,01389-00014,Thin Crust EMB Pepperoni,15,157.09,11.22,-50.4,Website
190,2025-06-15,Little Caesars,01893-00001,Thin Crust EMB Pepperoni,25,255.99,10.67,-49.9,Mobile
578,2025-06-15,Little Caesars,03222-00034,Caesar Wings,38,346.02,11.16,-46.5,Mobile
490,2025-06-15,Little Caesars,03222-00022,Caesar Wings,19,170.87,10.05,-45.5,Website
632,2025-06-15,Little Caesars,03222-00043,Custom Round,25,293.88,12.24,-45.4,Mobile
429,2025-06-15,Little Caesars,03222-00010,Stuffed Crust EMB Pepperoni,13,154.67,15.47,-45.2,Mobile
121,2025-06-15,Little Caesars,01494-00002,3 Meat Treat,12,173.64,14.47,-42.9,Mobile
369,2025-06-15,Little Caesars,03222-00003,Pretzel Crust with Cheese Sauce & Pepperoni,29,192.27,7.40,-42.8,Mobile
446,2025-06-15,Little Caesars,03222-00016,EMB Cheese,29,234.10,8.36,-42.1,Mobile
698,2025-06-15,Little Caesars,03646-00003,Classic Cheese,89,567.57,8.47,-41.7,Mobile
102,2025-06-15,Little Caesars,01389-00014,Classic Cheese,58,389.24,7.94,-40.4,Mobile
29,2025-06-15,Little Caesars,01389-00003,Stuffed Crazy Crust Pepperoni,17,227.83,14.24,-40.4,Mobile
494,2025-06-15,Little Caesars,03222-00022,Custom Round,13,155.37,14.12,-40.3,Mobile
392,2025-06-15,Little Caesars,03222-00007,3 Meat Treat,13,184.75,14.21,-40.3,Mobile

In [69]:
a[['Product Name','Store Id']].drop_duplicates().sort_values(by='Product Name')

                                          Product Name     Store Id
392                                       3 Meat Treat  03222-00007
121                                       3 Meat Treat  01494-00002
422                                       3 Meat Treat  03222-00010
490                                       Caesar Wings  03222-00022
578                                       Caesar Wings  03222-00034
559                                     Classic Cheese  03222-00032
102                                     Classic Cheese  01389-00014
333                                     Classic Cheese  01978-00005
698                                     Classic Cheese  03646-00003
334                                  Classic Pepperoni  01978-00005
553                                       Custom Round  03222-00028
494                                       Custom Round  03222-00022
632                                       Custom Round  03222-00043
446                                         EMB Cheese  03222-00016
369        Pretzel Crust with Cheese Sauce & Pepperoni  03222-00003
29                       Stuffed Crazy Crust Pepperoni  01389-00003
188                      Stuffed Crazy Crust Pepperoni  01893-00001
18                       Stuffed Crazy Crust Pepperoni  01389-00002
429                        Stuffed Crust EMB Pepperoni  03222-00010
567  Stuffed Pretzel Crust with Cheese Sauce & Pepp...  03222-00032
110                           Thin Crust EMB Pepperoni  01389-00014
190                           Thin Crust EMB Pepperoni  01893-00001

In [71]:
a[a['Product Name']=='Classic Cheese']

,Week,Brand,Store Id,Product Name,Unit Sold,Total Revenue,Average Order Value,WoW Change,Topchannel
333,2025-06-15,Little Caesars,01978-00005,Classic Cheese,28,233.51,10.15,-65.7,Mobile
559,2025-06-15,Little Caesars,03222-00032,Classic Cheese,68,452.79,7.94,-55.9,Mobile
698,2025-06-15,Little Caesars,03646-00003,Classic Cheese,89,567.57,8.47,-41.7,Mobile
102,2025-06-15,Little Caesars,01389-00014,Classic Cheese,58,389.24,7.94,-40.4,Mobile

In [79]:
data = pd.read_csv(
    "../weekly_sales/transactional data/june2-15.csv",
    parse_dates=["BusinessDate"],
    index_col="BusinessDate",
)
data

,FranchiseStore,DateTimePlaced,NetAmount,Quantity,OrderId,ItemId,MenuItemName,BundleName,OrderPlacedMethod
BusinessDate,,,,,,,,,
2025-06-09,01494-00001,6/9/2025 22:10,0.00,0,1066386,-,NaN,Crazy Combo,DoorDash
2025-06-10,01494-00001,6/10/2025 11:13,0.00,0,1066396,-,NaN,Crazy Puffs® Crave Combo,DoorDash
2025-06-10,01494-00001,6/10/2025 14:04,0.00,0,1066431,-,NaN,Crazy Combo,DoorDash
2025-06-10,01494-00001,6/10/2025 17:54,0.00,0,1066504,-,NaN,Crazy Puffs® Crave Combo,DoorDash
2025-06-10,01494-00001,6/10/2025 21:30,0.00,0,1066568,-,NaN,Crazy Combo,DoorDash
...,...,...,...,...,...,...,...,...,...
2025-06-05,01389-00005,6/5/2025 20:44,12.99,1,1085276,201008,Veggie,NaN,Website
2025-06-03,01389-00008,6/3/2025 16:05,12.99,1,1071916,201008,Veggie,NaN,Website
2025-06-06,01389-00008,6/6/2025 19:37,12.99,1,1072841,201008,Veggie,NaN,Website
2025-06-06,01389-00010,6/6/2025 14:30,12.99,1,1079483,201008,Veggie,NaN,Website
2025-06-07,01389-00012,6/7/2025 16:58,12.99,1,1051326,201008,Veggie,NaN,Website

In [87]:
cheese=data[(data['FranchiseStore'].isin(['01978-00005','03222-00032','03646-00003','01389-00014','01389-00010'])) & (data['MenuItemName']=='Classic Cheese')]
cheese.OrderPlacedMethod.value_counts()

Mobile     379
Website    223
Name: OrderPlacedMethod, dtype: int64

In [93]:
cheese

,FranchiseStore,DateTimePlaced,NetAmount,Quantity,OrderId,ItemId,MenuItemName,BundleName,OrderPlacedMethod
BusinessDate,,,,,,,,,
2025-06-09,01978-00005,6/9/2025 16:48,8.49,1,1092900,101002,Classic Cheese,NaN,Mobile
2025-06-10,01978-00005,6/10/2025 13:38,7.64,1,1093097,101002,Classic Cheese,NaN,Mobile
2025-06-10,01978-00005,6/10/2025 17:40,8.49,1,1093170,101002,Classic Cheese,NaN,Mobile
2025-06-11,01978-00005,6/11/2025 14:01,16.98,2,1093360,101002,Classic Cheese,NaN,Mobile
2025-06-11,01978-00005,6/11/2025 15:04,8.49,1,1093382,101002,Classic Cheese,NaN,Mobile
...,...,...,...,...,...,...,...,...,...
2025-06-07,01389-00014,6/6/2025 9:22,27.16,4,1052528,101002,Classic Cheese,NaN,Website
2025-06-07,01389-00014,6/7/2025 13:55,12.22,2,1052807,101002,Classic Cheese,NaN,Website
2025-06-07,01389-00014,6/7/2025 13:55,6.12,1,1052807,101002,Classic Cheese,NaN,Website
2025-06-07,01389-00014,6/7/2025 15:09,13.58,2,1052828,101002,Classic Cheese,NaN,Website
2025-06-07,01389-00014,6/7/2025 18:07,6.79,1,1052886,101002,Classic Cheese,NaN,Website

In [92]:
data[(data['MenuItemName']=='Classic Cheese')].OrderPlacedMethod.value_counts()

Mobile     5391
Website    2650
Name: OrderPlacedMethod, dtype: int64

In [ ]:
data[(data['MenuItemName']=='Classic Cheese')].OrderPlacedMethod.value_counts()

In [96]:
b=cheese.groupby(['FranchiseStore','OrderPlacedMethod']).resample('W').agg({'NetAmount':'sum'}).reset_index().sort_values(by='BusinessDate')
b

   FranchiseStore OrderPlacedMethod BusinessDate  NetAmount
0     01389-00010            Mobile   2025-06-08     297.68
2     01389-00010           Website   2025-06-08     172.65
16    03646-00003            Mobile   2025-06-08     525.33
4     01389-00014            Mobile   2025-06-08     411.52
6     01389-00014           Website   2025-06-08     241.73
14    03222-00032           Website   2025-06-08     541.28
8     01978-00005            Mobile   2025-06-08     202.06
18    03646-00003           Website   2025-06-08     448.15
10    01978-00005           Website   2025-06-08     478.71
12    03222-00032            Mobile   2025-06-08     486.54
17    03646-00003            Mobile   2025-06-15     396.07
15    03222-00032           Website   2025-06-15     167.71
13    03222-00032            Mobile   2025-06-15     285.08
9     01978-00005            Mobile   2025-06-15     131.63
7     01389-00014           Website   2025-06-15     133.94
5     01389-00014            Mobile   2025-06-15     255.30
3     01389-00010           Website   2025-06-15     165.24
1     01389-00010            Mobile   2025-06-15     337.91
11    01978-00005           Website   2025-06-15     101.88
19    03646-00003           Website   2025-06-15     171.50

In [97]:
b.sort_values(by=['FranchiseStore','OrderPlacedMethod']).head(10)

  FranchiseStore OrderPlacedMethod BusinessDate  NetAmount
0    01389-00010            Mobile   2025-06-08     297.68
1    01389-00010            Mobile   2025-06-15     337.91
2    01389-00010           Website   2025-06-08     172.65
3    01389-00010           Website   2025-06-15     165.24
4    01389-00014            Mobile   2025-06-08     411.52
5    01389-00014            Mobile   2025-06-15     255.30
6    01389-00014           Website   2025-06-08     241.73
7    01389-00014           Website   2025-06-15     133.94
8    01978-00005            Mobile   2025-06-08     202.06
9    01978-00005            Mobile   2025-06-15     131.63

In [ ]:
| FranchiseStore | OrderPlacedMethod | 2025-06-08 | 2025-06-15 | WoW % Change |
| -------------- | ----------------- | ---------- | ---------- | ------------ |
| 01389-00010    | Mobile            | 297.68     | 337.91     | **+13.51%**  |
| 01389-00010    | Website           | 172.65     | 165.24     | **-4.29%**   |
| 01389-00014    | Mobile            | 411.52     | 255.30     | **-37.96%**  |
| 01389-00014    | Website           | 241.73     | 133.94     | **-44.59%**  |
| 01978-00005    | Mobile            | 202.06     | 131.63     | **-34.84%**  |